
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);

* {padding:0; margin:0; outline:none;}

body {font-family: 'Lato', sans-serif; letter-spacing:0.05em; font-weight:400; background:#f4f4f4;}

a, a:hover {outline:none; text-decoration:none; cursor:pointer; color:inherit;}
img, a img {outline:none; border:none;}
p {margin-bottom:10px; line-height:22px;}
ul, li {margin:0px; padding:0px; list-style:none;}

input, textarea, select {outline:none; font-family: 'Lato', sans-serif; border:none;}
input[type="submit"], input[type="button"], input[type="image"] {cursor:pointer; border:0; outline:0;}
textarea {-o-transition: none !important; -moz-transition: none !important; -webkit-transition: none !important; transition: none !important;}

h1, h2, h3, h4, h5, h6 {font-weight:normal;}

.clear {clear:both;}
.left{float:left;}
.right{float:right;}

::selection {background:#25136d; color:#fff;}
::-moz-selection {background:#25136d; color:#fff;}

.fade_anim, .fade_anim * {-webkit-transition: all .35s ease-out; -o-transition: all .35s  ease-out; -moz-transition: all .35s  ease-out; transition: all .35s  ease-out;}

.no_anim, .no_anim * {-webkit-transition:none; -o-transition:none; -moz-transition:none; transition:none;}

.uppercase {text-transform:uppercase;}
.green_text {color:#04869a;}

/*  Flow up Labels  */
.FlowupLabels .fl_wrap {width:auto; min-height:40px; margin: 0px auto; display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.FlowupLabels .fl_label, .selectRegion label.inactive {top:20px; left:5px; font-size:13px; position:absolute; z-index: 1; -webkit-transition:all .05s linear; -moz-transition:all .05s linear; transition:all .05s linear;}

.FlowupLabels .fl_input, .selectRegion input {background:none; border:none; border-bottom:1px solid #ddd; font-size: 14px; line-height: 22px; padding: 0px 0 0 5px; position:absolute;top:18px;left:0;right:0;bottom:0; width:100%; z-index:2; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.FlowupLabels .fl_wrap.focused .fl_label, .FlowupLabels .fl_wrap.populated .fl_label, .selectRegion label.active {position: absolute; top:0; left:5px !important; font-size:11px; color:#04869a;}

.FlowupLabels .fl_wrap.focused .fl_input, .FlowupLabels .fl_wrap.populated .fl_input, .selectRegion input:focus {border-bottom:1px solid #04869a;}

.FlowupLabels .fl_wrap.error .fl_label {color:#F00 !important;}
.FlowupLabels .fl_wrap.error .fl_input {border-bottom:1px solid #F00 !important;}


/*  xxxxxx HEADER xxxxxxx  */

.wrapper {width:100%; height:auto; margin:0px; position:relative;}

.header {width:auto; height:90px; display:block; padding:5px 10px 0px 10px; background:#fff; border-bottom:4px solid #04869a; position:relative; z-index:5;}

.logo_box {width:auto; height:auto; margin:10px 710px 0px 0px; position:relative; vertical-align:middle;}
.logo_box a {display:inline-block;}
.logo_box .logo {width:100%; max-width:392px; display:block;}

.header .header_top {width:auto; height:auto; position:absolute; top:5px; right:285px; z-index:1;}

.language {float:right; width:105px; height:25px; margin:0px 0px 0px 15px;}
.language .goog-te-menu-value {font-size:11px; line-height:25px;}
.language .goog-te-gadget {height:25px;}
.language .goog-te-gadget-simple {height:24px; padding:0;}
.language .goog-te-gadget-icon {margin-right:0; width:15px; height:15px;}

.search_box {float:right; margin:0px 0px 0px 15px; width:140px; height:24px; border:1px solid #ddd; -webkit-box-shadow:0px 0px 5px #bbb; -moz-box-shadow:0px 0px 5px #bbb; box-shadow:0px 0px 5px #bbb;}
.search_box .search_type {width:111px; height:25px; float:left; padding:0px 2px; line-height:24px; font-size:13px;}
.search_box .search_btn {width:25px; height:24px; float:left; background:#04869a; background:url(../images/search_btn.jpg) no-repeat center center;}

.nabh {float:right; margin:0px 0px 0px 15px;}

.emergency_nos {float:right; margin:8px 0px 0px 0px; font-size:12px; color:#4f4f4f; line-height:16px;}
.emergency_nos .bl, .emergency_nos .el {float:left; margin:0px 0px 0px 15px;}

@media only screen and (min-width:1024px) {
.header {position:fixed; right:0; left:0; top:0;}
}

@media only screen and (min-width:1024px) and (max-width:1100px) {
	.header .header_top {right:275px;}	
	.language, .search_box, .nabh {margin-left:9px;}
	.emergency_nos .bl {float:left; margin:0px 0px 0px 10px;} .emergency_nos .el {float:left; margin:0px 0px 0px 0px;}
	.logo_box {margin:10px 690px 0px 0px;}
}

@media only screen and (max-width:1023px) {
.header {height:auto;}
.header .header_top {position:static; clear:both;}
.logo_box {width:auto; max-width:392px; margin:0px 0px 10px;}
.fixing_head {width:100%; display:block; margin-top:-35px;}
.emergency_nos {margin-bottom:5px;}

.language {float:none; display:block; width:200px !important; height:25px; margin:10px auto 15px auto;}
.language .goog-te-gadget-simple {width:100%;}

.search_box {float:none; display:block; margin:0px auto 15px auto; width:200px; height:24px; font-size:11px; border:1px solid #fff; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
.search_box .search_type {width:170px; height:25px; float:left; padding:0px 2px; line-height:24px;}

}

@media only screen and (max-width:600px) {
.fixing_head {margin-top:0px;}
.logo_box {margin:0px 60px 10px 0px;}
}

.br_adjust {display:none;}
@media only screen and (max-width:500px) {
.br_adjust {display:block;}
.nabh {margin:0px 0px 0px 15px; width:44px;} .nabh img {width:100%; display:block;}
.emergency_nos {margin:0px 0px 5px 0px;}
.emergency_nos .bl {float:left; margin:0px 0px 0px 15px;} .emergency_nos .el {float:left; margin:0px 0px 0px 0px;}
}

@media only screen and (max-width:350px) {
.nabh {margin:0px 0px 0px 5px;}
.emergency_nos .bl {margin:0px 0px 0px 8px;}
}

.fixing_head.stick {width:auto; height:auto; padding:10px 10px 0px; background:#FFF; border-bottom:4px solid #04869a; margin-top:0; position:fixed; top:0px; left:0px; right:0; z-index: 500; -webkit-box-shadow:0px 2px 5px #666; -moz-box-shadow:0px 2px 5px #666; box-shadow:0px 2px 5px #666; }

/* xxxxxxxxx NAVIGATION xxxxxxxx */

.navigation {width:700px; height:80px; float:right; margin:0px 0px 0px 0px; display:block; position:relative;}

@media only screen and (min-width:1024px) {
.menu {width:auto; height:28px; position:absolute; bottom:0; right:0;}
.menu li {width:auto; min-width:20px; float:left; margin:0px 0px 0px 45px; text-align:right; position:relative; text-align:center;}
.menu li:first-child {}
.menu li a {font-size:14px; line-height:28px; font-weight:600; letter-spacing:0;}

.menu li:hover a, .menu li.active a {color:#04869a;}
.menu li.active:after {content:''; position:absolute; left:0; right:0; bottom:-12px; margin:auto; border-top:10px solid #04869a; border-left:10px solid transparent; border-right:10px solid transparent; width:0;}

ul.menu li ul {position:absolute; width:210px; top:28px; left:-40px; background:#04869a; z-index:1; -webkit-box-shadow:0px 2px 7px #666; -moz-box-shadow:0px 2px 7px #666; box-shadow:0px 2px 7px #666; display:none; border-top:4px solid #04869a; text-align:left;}

ul.menu li ul li {display:block; margin:0px; float:none; text-align:left; border-bottom:1px dotted #5aafbc; height:auto;}
ul.menu li ul li a {padding:6px 10px; text-transform:none; line-height:20px; font-weight:400; color:#fff !important; display:block; -webkit-transition: all .2s ease-in; -o-transition: all .2s  ease-in; -moz-transition: all .2s  ease-in; transition: all .2s  ease-in;}
ul.menu li ul li a:hover {background:#FFF; color:#000 !important; font-weight:600; padding:6px 5px 6px 15px;}
/*ul.menu li ul li a:before {content:'\25cf'; margin:0px 7px 0 0px; font-size:7px; position:relative; top:-3px;}*/

ul.menu li:hover:before {width:0px;height:0px;position:absolute;left:20px;top:23px;content:'';border-width:0px 7px 7px 7px;border-style:solid;border-color: transparent transparent #04869a transparent;}

ul.menu li:first-child:hover:before, ul.menu li:last-child:hover:before {display:none;}

ul.menu li li:before {display:none;}

.menu_open, .menu_close {display:none;}

ul.col_2 {width:425px !important;}
ul.col_2 li {width:210px !important; display:inline-block !important;}

.menu li a span {display:none;}

}

@media only screen and (min-width:1024px) and (max-width:1100px) {
.navigation {width:680px;}
.menu li {margin:0px 0px 0px 40px;}	
}

@media only screen and (max-width:1023px) {
.navigation {width:auto; height:auto; clear:right; margin:10px 0 0 0;}

.menu_open {display:block; padding:8px; margin:0px 0px 0px; float:left; font-size:14px; cursor:pointer; border:1px solid #04869a; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

.menu_close {width:auto; height:25px; margin:0px; padding:5px 15px; font-size:18px; font-weight:600; color:#fff; line-height:25px; text-align:right;  cursor:pointer; display:block; border-bottom:1px dotted #5aafbc;}

.pushy {position:fixed; width:280px; height:100%; top:0; right:0px; z-index:9999; background:#04869a; overflow:auto; -webkit-overflow-scrolling:touch; -webkit-box-shadow:-3px 0px 15px #333; -moz-box-shadow:-3px 0px 15px #333; box-shadow:-3px 0px 15px #333;}

.pushy-right{-webkit-transform: translate3d(300px,0,0); -moz-transform: translate3d(300px,0,0); -ms-transform: translate3d(300px,0,0); -o-transform: translate3d(300px,0,0); transform: translate3d(300px,0,0);}

.pushy-open{-webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}

.container-push, .push-push {-webkit-transform: translate3d(-230px,0,0); -moz-transform: translate3d(-230px,0,0); -ms-transform: translate3d(-230px,0,0); -o-transform: translate3d(-230px,0,0); transform: translate3d(-230px,0,0);}

.pushy, #container, .push{-webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99); -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99); -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99); transition: transform .2s cubic-bezier(.16, .68, .43, .99); /*improves performance issues on mobile */-webkit-backface-visibility: hidden;/*-webkit-perspective: 10000;*/
}

.site-overlay{display: none;}

.pushy-active .site-overlay{display: block; position: fixed; right: 0px; top: 0; left:0; bottom:0; z-index: 1111;}

.nav ul.menu {margin:0px 0px 20px 0px; float:none; display:block;}
.nav ul.menu li {display:block; border-bottom:1px dotted #5aafbc;}
.nav ul.menu li:first-child {border-top:1px dotted #5aafbc;}
.nav ul.menu li a {padding:10px; display:block; font-size:14px; color:#FFF; text-transform:uppercase;}

.nav ul.menu li.active a, ul.menu li:hover a {background-color:#fff; color:#04869a;}

.nav ul.menu li ul li {border-bottom:0px;}
.nav ul.menu li li:first-child {border-top:0px;}
.nav ul.menu li ul li a:before {content:'- '; }
.nav ul.menu li ul li a {text-transform:none; font-size:13px; color:#000 !important; padding:7px 5px 7px 20px; position:relative;}

.menu li a i {display:none;}

}

@media only screen and (max-width:400px) {
.navigation {margin:5px 0 0 0;}
}

/* xxxxxxxxx FOOTER xxxxxxxx */

.footer {width:100%; min-height:92px; display:table; background:#f4f4f4; border-top:4px solid #04869a; padding-top:8px;}

.foot_col {width:auto; min-width:25%; display:table-cell; padding:0 1%; font-size:13px; color:#686868; vertical-align:top;}
.foot_col a:hover {color:#04869a;}

.foot_links li {margin-bottom:6px;}

.app_box {display:none;}

a.app_links {display:block; padding:2px 10px; margin:5px 0px; font-size:12px; color:#000; border:1px solid #000; width:150px; border-radius:15px;}
a.app_links i {font-size:20px; margin-right:3px; display:inline-block; vertical-align:middle;}
a.app_links:hover {background:#04869a; color:#FFF;}

.social_icons {width:auto;}
.social_icons li {float:left; font-size:22px; margin:5px;}
.social_icons li a:hover {color:#686868;}

.social_icons a.fb {color:#46609b;}
.social_icons a.tw {color:#3aafe1;}
.social_icons a.yt {color:#c92f2a;}
.social_icons a.ln {color:#066196;}
.social_icons a.in {color:#336189;}

.newsletter_box {width:100%; margin:10px 0; font-size:12px;}
.newsletter_box input[type="text"] {width:auto; height:25px; background:#FFF; border:1px solid #ccc;}
.newsletter_box input[type="button"] {width:35px; height:27px; background:#929292; font-size:12px; color:#fff;}
.newsletter_box input[type="button"]:hover {background:#04869a;}

.copy {text-align:right; font-size:11px; color:#000; line-height:16px;}

.chat_btn {position:fixed; bottom:0px; right:5px; z-index:100;}

@media only screen and (max-width:1023px) {
.footer {padding-bottom:25px; display:block;}

.foot_col {width:31%; display:inline-block; float:left; margin-bottom:20px; text-align:center;}

.foot_col.copy {width:auto; display:block; text-align:center; float:none;}

.foot_col.social_icons {float:none; clear:both; margin:10px auto 20px; display:block; text-align:center; width:200px;}
.foot_col.social_icons li {float:none; display:inline-block;}

.foot_col.app_box {width:auto; display:block; text-align:center; float:none; clear:both; margin:10px;}
.app_btns {display:block;}
a.app_links {display:inline-block; margin:5px;}

}

@media only screen and (max-width:550px) {
.foot_col {width:48%; margin:0 auto 10px; padding:0; float:none; display:inline;}	
}


/*  xxxxxxxxxxxxxxxxxx HOME PAGE xxxxxxxxxxxxxxxxxx  */

.index_container {width:100%; height:auto; z-index:0; background:#FFF;}

.home_carousel {width:auto; height:100%; padding:0px;}

.home_carousel .scroll_div {height:99%; margin-left:25px; border:1px solid #ccc; position:relative;}

.small_width {width:300px;}

.scroll_div .tl_box {background:#25136d; color:#fff; font-size:14px; padding:20px 15px; position:relative; z-index:10;}

.scroll_div .tl_box .viewall_btn {float:right; font-size:11px; padding:2px 5px; margin-right:-8px; border-radius:10px;}
.scroll_div .tl_box .viewall_btn:hover {background:#04869a;}

.slider {width:auto; height:100%; display:block; position:relative;}
.slider a {display:block;width:100%;height:100%;}
.slider img {width:auto; max-width:100%; height:100%; display:block;}

.slider .cycle-pager {text-align:center; width:100%; height:20px; line-height:20px; z-index:500; position:absolute; bottom:10px; overflow:hidden;}
.slider .cycle-pager span {font-family:arial; font-size:50px; width:16px; height:16px; margin:0px 2px; display:inline-block; color:#04869a; cursor:pointer; -webkit-text-shadow:0px 0px 2px #25136d; -moz-text-shadow:0px 0px 2px #25136d; text-shadow:0px 0px 2px #25136d;}
.slider .cycle-pager span.cycle-pager-active {color:#fff; -webkit-text-shadow:0px 0px 2px #000; -moz-text-shadow:0px 0px 2px #000; text-shadow:0px 0px 2px #000;}
.slider .cycle-pager > * {cursor:pointer;}

.testimonials, .awards_width {width:600px;}

.index_content_box {width:100%; height:auto; top:57px; bottom:0px; position:absolute; z-index:0;}

.green_bg {background:#04869a;}

.box_links li a {display:table; width:100%; border-bottom:1px solid #e5e5e5; color:#000;}
.box_links li a:hover {color:#04869a; -webkit-box-shadow:inset 0px 0px 60px #75D5C8; -moz-box-shadow:inset 0px 0px 60px #75D5C8; box-shadow:inset 0px 0px 60px #75D5C8;}
.box_links li .bl_img {display:table-cell; width:65px; height:60px; padding:5px 7px;}
.box_links li .bl_txt {display:table-cell; vertical-align:middle; padding:5px 15px 5px 0px; text-transform:uppercase; font-size:12px; font-weight:bold;}

.keyfactors li {padding:18px; border-bottom:1px solid #e5e5e5; font-size:13px; color:#000;}
.keyfactors img {max-width:100%; height:auto; display:block; margin-top:10px; border:1px solid #999;}

.updates li {border-bottom:1px solid #e5e5e5; font-size:13px; line-height:20px; color:#000;}
.updates a {display:block; padding:10px 15px; }
.updates a:hover {color:#04869a; box-shadow:inset 0px 0px 30px #75D5C8;}

.awards li {display:inline-block; width:50%; height:130px; margin:-1px -1px 0px 0px; border:1px solid #e5e5e5; border-left:0px; float:left; overflow:hidden; font-size:13px; position:relative;}
.awards li:hover {-webkit-box-shadow:inset 0px 0px 60px #75D5C8; -moz-box-shadow:inset 0px 0px 60px #75D5C8; box-shadow:inset 0px 0px 60px #75D5C8;}
.awards li img {width:100px; height:100px; display:block; margin:15px; float:left; border:0px solid #eee;}
.awards li span {width:auto; height:auto; display:block; margin:15px 15px 15px 110px;}

.package_lists {margin:0 10px 15px 10px;}
.package_lists li {font-size:13px; position:relative; margin-bottom:3px;}
.package_lists li a {padding:5px 8px; display:block;}
.package_lists li:hover a {color:#FFF;}
.package_lists li:before {width:0%; height:100%; content:''; position:absolute; z-index:-1; -webkit-transition: width .8s ease-in-out; -o-transition: width .8s ease; -moz-transition: width .8s ease; transition: width .8s ease; background:#FFF; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.package_lists li:hover:before {width:100%; background:#04869a;}

.testimonial_list li {display:block; width:50%; height:auto; margin:-1px -1px 0px 0px; border:1px solid #e5e5e5; border-left:0px; float:left; overflow:hidden; font-size:13px;}
.testimonial_list li:hover {-webkit-box-shadow:inset 0px 0px 60px #75D5C8; -moz-box-shadow:inset 0px 0px 60px #75D5C8; box-shadow:inset 0px 0px 60px #75D5C8;}
.testimonial_list li .testimonial_img {display:table; width:auto; vertical-align:top; margin:15px;}
.testimonial_list li .testimonial_img img {width:85px; height:85px; display:table-cell; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; border:1px solid #999; margin-right:15px;}
.testimonial_list li .testimonial_img .name {font-weight:700; width:auto; display:table-cell; vertical-align:middle;}
.testimonial_list li .testimonial_txt {display:block; height:40px; margin:15px; line-height:20px; overflow:hidden;}

.testimonial_list li .testimonial_box {display:none;}
.fancybox-inner .testimonial_box {width:100%; max-width:400px; margin:0px; border:0px !important;}
.fancybox-inner .testimonial_box p {font-size:13px;}

ul.social_init {border-top:1px solid #e5e5e5;}
ul.social_init li {border-bottom:1px solid #e5e5e5; font-size:13px; line-height:20px; color:#000; font-weight:600;}
ul.social_init li a {padding:10px 18px; display:block;}
ul.social_init li a:hover {-webkit-box-shadow:inset 0px 0px 60px #75D5C8; -moz-box-shadow:inset 0px 0px 60px #75D5C8; box-shadow:inset 0px 0px 60px #75D5C8;}
ul.social_init li ul.bullet  {margin:10px 18px 0px;}
ul.social_init li ul.bullet li {list-style:none; background:url(../images/logo_bullet.png) no-repeat left 5px; padding:0px 0px 10px 20px; border-bottom:0;}

.social_btns {margin:0px 20px;}
.social_btns li {margin-bottom:5px; text-align:center;}
.social_btns li a:hover img {-webkit-box-shadow:0px 2px 6px #666; -moz-box-shadow:0px 2px 6px #666; box-shadow:0px 2px 6px #666; -webkit-border-radius:3px;  -moz-border-radius:3px; border-radius:3px;}

@media only screen and (min-width:1024px) {
.index_container {/*position:fixed; top:100px; bottom:102px;*/ margin-top:78px; padding:20px 0px;}
}

@media only screen and (max-width:1600px) {
.index_container {position:relative;}
.home_carousel {padding:0px 0px;}
.home_carousel .scroll_div {margin-left:0; height:427px;}
.home_carousel .small_width {width:45%; margin:0px 2.3% 30px; display:inline-block;}
.scroll_div.sliderbox {height:auto; margin:0px 0px 30px 0px;}
.slider img {width:100%; height:auto; display:block;}
.scroll_div.testimonials, .scroll_div.awards_width {width:auto; height:403px; display:block; margin:0 2.3% 30px;}
}

@media only screen and (max-width:650px) {
.home_carousel .scroll_div {/*max-height:427px;*/ height:auto; display:block;}
.home_carousel .small_width {width:auto; margin:0px 2.3% 30px; display:block;}
.index_content_box {position:static;}
.social_init li {text-align:center;}
.social_init li img {margin:0px auto 10px;}
}

@media only screen and (max-width:550px) {
.testimonial_list li, .awards li {width:100%; margin:0px; border-right:0; border-top:0;}
.testimonial_list li .testimonial_txt {height:auto;}
.slider {margin-bottom:30px;}
.slider .cycle-pager {bottom:-25px;}
}

/*  xxxxxxxxxxxxxxxxxx INNER PAGE xxxxxxxxxxxxxxxxxx  */

.inner_page_container {width:100%; min-height:450px; display:table; margin:0px auto; padding:20px 0px; background:#FFF; position:relative;}

@media only screen and (min-width:1024px) {
.inner_page_container {padding-top:120px;}	
}

a.logout {width:auto; height:auto; display:inline-block; padding:3px 10px; margin:0px 10px; position:relative; top:-2px; border:1px solid #fff; color:#FFF; font-size:12px; text-transform:none; border-radius:15px;}
a:hover.logout {background:#25136d; border:1px solid #25136d;}

.green_banner {width:100%; height:auto; margin:0px 0px 30px; float:left; display:block; background:#04869a;}
.green_banner .page_title {width:90%; display:block; margin:30px auto; font-size:18px; color:#FFF; text-transform:uppercase;}

.container {width:90%; display:block; margin:auto; font-size:14px;}
.container a {color:#04869a; display:inline-block; position:relative;}
.container a:after {content:''; width:0%; height:1px; position:absolute; bottom:0; left:50%; right:50%; margin:auto; background:#04869a; display:block;  -webkit-transition: all .3s ease-out; -o-transition: all .3s  ease-out; -moz-transition: all .3s  ease-out; transition: all .3s  ease-out;}
.container a:hover:after {width:100%; left:0; right:0;}

@media only screen and (max-width:500px) {
.green_banner .page_title, .container {width:95%;}
}

.content_main_box {width:71%; float:right;}

.box_aside {width:25%; float:left;}

@media only screen and (max-width:1000px) {
.content_main_box, .box_aside {width:100%; float:left; margin-bottom:30px;}
}

.box_aside .rel_menu {width:auto; display:block; margin:0 0 30px 0;}
.rel_menu ul {border-collapse:collapse; display:table; width:100%;}
.rel_menu ul li {border:1px solid #e4e4e4; display:table-row;}
.rel_menu ul li a {padding:15px; display:block; font-size:13px; color:#000;}
.rel_menu ul li a:hover {-webkit-box-shadow:inset 0px 0px 60px #75D5C8; -moz-box-shadow:inset 0px 0px 60px #75D5C8; box-shadow:inset 0px 0px 60px #75D5C8;}
.rel_menu ul li.active a {color:#04869a; font-weight:700; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
.rel_menu ul li a:after {display:none;}

.box_aside .ad_box {width:auto; display:block; text-align:center;}
.box_aside .ad_box img {border:1px solid #e4e4e4;}

@media only screen and (max-width:1000px) {
.box_aside {display:table; width:100%;}
.box_aside .rel_menu {width:auto; display:table-cell; padding-right:30px; vertical-align:top;}
.box_aside .rel_menu:before {content:'Related Links  \f078'; color:#25136d; font-size:14px; font-weight:700; text-transform:uppercase; display:block; margin-bottom:10px; font: normal normal normal 14px/1 FontAwesome, Lato, sans-serif; text-rendering:auto; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
.box_aside .ad_box {width:220px; display:table-cell; padding-top:29px;}
.rel_menu ul {display:block; width:auto;}
.rel_menu ul li {width:49%; display:inline-block; float:left; margin:0px -1px -1px 0px;}
}

@media only screen and (max-width:700px) {
.rel_menu ul li {width:100%;}
}

@media only screen and (max-width:550px) {
.box_aside .rel_menu {display:inline-block; padding-right:0px;}
.box_aside .ad_box {display:block; padding:0; margin:auto;}
}

.print_share {width:auto; display:block; margin-bottom:10px; text-align:right; font-size:18px;}
.print, .addthis_native_toolbox {float:right; margin-left:10px;}

.text_format {letter-spacing:0; font-size:13px; line-height:22px;}
.text_format p {font-size:13px; margin-bottom:25px;}
.text_format h1 {font-size:14px; font-weight:600; margin-bottom:25px;}
.text_format ul {margin:-10px 0px 20px 0px; display:block;}
.text_format ul li {margin-bottom:10px; list-style:disc; margin-left:15px;}
.text_format ul.bullet {margin:0px 0px 20px 0px; display:block;}
.text_format ul.bullet li {list-style:none; margin-left:0px; background:url(../images/logo_bullet.png) no-repeat left 5px; padding-left:20px;}
.text_format ul.bullet li ul {margin-top:10px;}
.text_format ul.bullet li ul li {background:none; list-style:disc; margin-left:15px; padding-left:0;}
.text_format .logo_bullet {background:url(../images/logo_bullet.png) no-repeat left 5px; padding-left:20px;}
.text_format u {text-decoration:none; border-bottom:1px solid #333;}

.inner_banner {width:auto; height:auto; display:block; margin-bottom:15px; border:1px solid #eee; background:#f9f9f9;}
.inner_banner img {width:100%; height:auto; display:block;}

.text_format table {width:100%; border-collapse:collapse; margin-bottom:20px;}
.text_format table thead {background:#25136d; color:#FFF;}
.text_format table td {padding:5px; border:1px solid #ccc; vertical-align:top;}

.f_box {width:100%; display:table; margin-bottom:30px; padding-bottom:15px; border-bottom:1px solid #e4e4e4;}
.f_box .f_img {width:250px; display:table-cell;} 
.f_box .f_img img {float:left; margin-bottom:10px; box-shadow:1px 1px 2px #ddd;}
.f_box .f_img span {float:left;}
.f_box .f_profile {display:table-cell; vertical-align:top; padding-left:30px; border-left:1px dotted #aaa;}

@media only screen and (max-width:600px) {
.f_box .f_img {display:block; float:left;}
.f_box .f_profile {display:block; float:left; border:none; padding:0;}
}


.accd_box {margin-bottom:10px;}
.accd_box .hd {width:auto; height:auto; display:block; padding:5px 50px 5px 10px; background:#eee; position:relative; font-size:14px; cursor:pointer;}
.accd_box .hd:before {content:''; width:40px; height:100%; background:url(../images/accd_box.png) no-repeat right top; background-size:40px 100%; position:absolute; right:0; top:0;}
.accd_box .hd:after {content:'+'; width:30px; height:100%; min-height:100%; position:absolute; right:0; top:0; color:#FFF; font-size:24px; text-align:center; line-height:30px;}
.accd_box .hd.openheader {color:#04869a; -webkit-text-shadow:0px 0px 1px #0bad9a; -moz-text-shadow:0px 0px 1px #0bad9a; text-shadow:0px 0px 1px #0bad9a;}
.accd_box .hd.openheader:after {content:'-' !important;}
.accd_box .accd_content {padding:10px 10px 0px;}

.newsbox h2 {margin-bottom:10px; font-size:14px;}
.newsbox ul li a {color:#000;}

.update_box img {width:auto; max-width:100%; height:auto; display:block; position:relative;}
.update_box img:after {content:attr(data-title); background:#06C; font-size:14px; color:#FFF; padding:5px; position:absolute; bottom:0; width:auto; }
.update_box ul.img_gallery {width:100%; display:block; margin:10px 0px 20px; clear:both;}
.update_box ul.img_gallery li {width:30%; display:inline-block; list-style:none; margin:0 3% 20px 0px;}
.update_box ul.img_gallery li img {width:100%; height:auto; display:block;}

@media only screen and (max-width:800px) {.update_box ul.img_gallery li {width:44%; margin:0 5% 20px 0px;}}
@media only screen and (max-width:500px) {.update_box ul.img_gallery li {width:100%; margin:0 0% 20px 0px;}}

.award_box {width:45%; height:120px; display:inline-table; float:left; border:1px solid #ddd; margin:0px 4.5% 20px 0px; position:relative;}
.award_box:hover {border:1px solid #04869a; -webkit-box-shadow:0px 5px 10px #999; -moz-box-shadow:0px 5px 10px #999; box-shadow:0px 5px 10px #999;}
.award_box:hover * {color:#04869a;}
.award_box .award_img {width:110px; max-width:110px; height:110px; display:table-cell; vertical-align:middle; margin:5px; float:left; overflow:hidden;}
.award_box .award_img img {width:100%; height:auto;}
.award_box .award_text {width:100%; display:table-cell; vertical-align:top; padding:10px; text-align:left;}
.award_box .award_text h2 {font-size:13px; font-weight:700;}
.award_box a {display:block; width:100%; height:100%; position:absolute; left:0; top:0;}
.award_box a:before {content:'Read more'; position:absolute; bottom:0px; right:0px; background:#04869a; padding:2px 8px; font-size:12px; color:#FFF; -webkit-border-radius:5px 0px 0px 0px; -moz-border-radius:5px 0px 0px 0px; border-radius:5px 0px 0px 0px;}

@media only screen and (max-width:750px) {
.award_box {width:100%; margin:0px 0% 20px 0px;}	
}

.awards_img {width:auto; max-width:100%; height:auto; display:block;}
.certf_img {width:100%; max-width:200px; height:auto; display:inline-block; margin:0px 10px 0px 0px;}

.mngmt img, .img_left {width:140px; height:auto; display:block; border:1px solid #ccc; padding:5px; float:left; margin:0px 20px 20px 0px;}

ul.trustees li {background:url(../images/logo_bullet.png) no-repeat left 5px; padding-left:25px; margin:0 0 20px 0; list-style:none;}

table.visa_certf td {width:25%;}

@media only screen and (max-width:500px) {
table.visa_certf * {display:block;}
table.visa_certf {width:auto;}
table.visa_certf thead {display:none;}
table.visa_certf tr {margin:0px 0px 20px 0px; border:1px solid #ccc; border-left:2px solid #25136d;}
table.visa_certf td {width:auto; border:0px; position:relative; padding-left:90px;}
table.visa_certf td:before {content:attr(data-title) ' :'; width:80px; position:absolute; top:5px; left:5px; font-weight:normal;}
table.visa_certf td:nth-child(even) {background:#f9f9f9;}
table.visa_certf td:first-child {font-weight:700;}
}

@media only screen and (min-width:701px) {
table.tests thead {background:none; color:#000; font-weight:700; border-bottom:2px solid #ddd;}
table.tests td {width:25%; border:none; padding:5px 10px; text-align:center;}
table.tests tr {border-bottom:1px solid #ccc;}
table.tests tbody tr:nth-child(even) {background:#f9f9f9;}
}

@media only screen and (max-width:700px) {
table.tests * {display:block;}
table.tests {width:auto;}
table.tests thead {display:none;}
table.tests tr {margin:0px 0px 20px 0px; border:1px solid #ccc; border-left:2px solid #25136d;}
table.tests td {width:auto; border:0px; position:relative; padding-left:130px;}
table.tests td:before {content:attr(data-title) ' :'; /*position:absolute; top:5px; left:5px;*/ width:120px; height:auto; float:left; font-weight:normal; font-size:12px; margin:0px 0px 0px -120px; display:block; line-height:16px;}
table.tests td:nth-child(even) {background:#f9f9f9;}
table.tests td:first-child {font-weight:700;}
table.tests td:after {width:100%; content:''; display:block; clear:both;}
}

.pckg {width:auto; height:auto; display:block; padding:9px 50px 9px 10px; margin:0px 0px 4px; background:#eee; position:relative; font-size:14px; text-transform:uppercase;}
.pckg a {color:#000; font-size:13px; display:block;}
.pckg a:hover {color:#04869a; font-weight:700;}
.pckg a:after {display:none;}
.pckg:before {content:''; width:40px; height:100%; background:url(../images/accd_box.png) no-repeat right top; background-size:40px 100%; position:absolute; right:0; top:0;}
.pckg:after {content:'+'; width:30px; height:100%; min-height:100%; position:absolute; right:0; top:0; color:#FFF; font-size:24px; text-align:center; line-height:30px;}

.pckg_price {font-size:24px !important; margin-bottom:20px; display:block;}
.pckg_price span {margin-right:5px;}

ul.pckg_list {margin-top:-15px !important;}
ul.pckg_list li {width:31%; display:inline-block; vertical-align:top; margin:0px 2% 5px 0px !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
ul.other_pckglist li {width:45%; display:inline-block; vertical-align:top; margin:0px 4% 5px 0px !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; list-style:none;}

@media only screen and (max-width:600px) {
ul.pckg_list li {width:45%; margin:0px 4% 5px 0px !important;}
}

@media only screen and (max-width:450px) {
ul.pckg_list li, ul.other_pckglist li {width:auto; display:block; margin:0px 0px 5px 0px !important;}	
}

.coe_list {text-align:center;}
.coe_box {min-width:200px; width:20%; height:110px; display:inline-block; float:left; margin:0px 0px 30px 0px; position:relative; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.coe_box a {min-width:190px; width:auto; height:100px; display:block; color:#666; padding:5px;}
.coe_box a:hover {color:#25136d; -webkit-box-shadow:inset 0px 0px 40px #75D5C8; -moz-box-shadow:inset 0px 0px 40px #75D5C8; box-shadow:inset 0px 0px 40px #75D5C8;}
.coe_box img {width:65px; height:60px; margin:auto; display:block;}
.coe_box span {width:auto; min-height:40px; display:block; position:absolute; bottom:0; left:5px; right:5px; font-size:14px; font-weight:700; line-height:18px; text-align:center;}

@media only screen and (max-width:1100px) {.coe_box {width:25%;}}
@media only screen and (max-width:880px) {.coe_box {width:33%;}}
@media only screen and (max-width:660px) {.coe_box {width:50%;}}
@media only screen and (max-width:425px) {.coe_box {width:100%; max-width:270px; margin:0px auto; float:none;}}

.hcu_links {width:100%; display:block; margin:0px 0px 20px; position:relative;}
.hcu_links:after {content:''; width:100%; display:block; background:#ccc; height:1px; position:absolute; bottom:10px; z-index:0;}
.hcu_links li {display:inline-block; padding:0px 5px; margin:0px 0px 10px 0px !important; text-transform:uppercase; letter-spacing:normal;}
.hcu_links li a {display:block; color:#666; padding: 5px 10px; font-size:13px; }
.hcu_links li a:after {height:3px; bottom:-1px; z-index:1;}
.hcu_links li.active a {color:#04869a; font-weight:700;}
.hcu_links li.active a:after {width:100%; left:0; right:0;}

/* xxxxxxx FIND A DOCTOR Page xxxxxx */

.find_bg {background:url(../images/find_bg.jpg) no-repeat center center #000; background-size:cover;}
.doc_search_box {max-width:704px; width:95%; display:block; margin:70px auto;}
.doc_search_box .tl {font-size:24px; color:#FFF; text-align:center; display:block; width:auto; margin-bottom:20px;}

.doc_search {width:100%; display:table;}
.doc_search .doc_select {width:200px; height:50px; display:table-cell; background:#FFF; border-right:1px solid #aaa; float:left; border-collapse:collapse; position:relative;}
.doc_search .doc_select select, .doc_search .doc_select .select2 {width:100%; height:100%;}

.doc_search .doc_search_field {width:300px; height:50px; display:table-cell; float:left;}
.doc_search_field input.search_field {width:199px; height:100%; float:left; padding:5px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

.doc_search .doc_search_btn {width:100px; height:50px; float:left; background:url(../images/doc_search_btn.png) no-repeat center center #04869a; color:#FFF;}
.doc_search .doc_search_btn:hover {background-color:#25136d;}

@media only screen and (max-width:750px) {
.doc_search {width:90%; margin:auto;}
.doc_search .doc_select {display:block; width:49.5% !important; float:left; margin-bottom:10px;}
.doc_search .doc_search_field {width:99%; position:relative; background:#F90}
.doc_search_field input.search_field {width:100%;}
.doc_search .doc_search_btn {display:block; position:absolute; top:0; right:0;}
}

@media only screen and (max-width:450px) { .doc_search .doc_select {width:99.5% !important;} }

.doc_search .doc_select .ui-selectmenu-button {width:auto; display:block; background:#0FC; border:none; background:#FFF; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}
.doc_search .doc_select .ui-selectmenu-text {font-family:'Lato', sans-serif; font-size:13px; width:100%; display:block; height:50px; padding:0 5px; line-height:50px; outline:none;}
.ui-selectmenu-menu {outline:none;}
.ui-selectmenu-menu li.ui-menu-item {font-size:12px; padding:5px;}
.ui-selectmenu-menu li.ui-state-focus {background:#04869a; color:#FFF;}
.ui-selectmenu-menu .ui-menu {max-height:200px;}
.ui-selectmenu-menu .ui-icon:before {content:'\f078'; font: normal normal normal 14px/1 FontAwesome, Lato, sans-serif; text-rendering:auto; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; color:#0C0;}


ul.doc_search_result {width:auto;}
ul.doc_search_result li {list-style:none; float:left; width:25%; margin:0px 0px 30px 0px; padding:0;}

.doc_div {width:200px; display:block !important; margin:auto; padding-bottom:50px; border:1px solid #ccc; position:relative; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.doc_div:hover {border:1px solid #aaa; -webkit-box-shadow:0px 10px 20px #666;-moz-box-shadow:0px 10px 20px #666;box-shadow:0px 10px 20px #666;}
.doc_div img {display:block; width:198px; height:198px; margin-bottom:10px; background:#f3f3f3;}
.doc_div .name {padding:0px 10px; margin-bottom:5px; display:block; font-size:16px;}
.doc_div .desig {padding:0px 10px; display:block; color:#666; font-size:13px; line-height:18px; word-wrap:break-word;}
.doc_div a.prof_holder {display:block;}
.doc_div a {text-align:center; font-size:12px; line-height:14px;}
.doc_div a:after {display:none;}
.doc_div .view_btn {width:97px; display:block; padding:5px 0px; color:#FFF; background:#04869a; position:absolute; bottom:1px; left:1px;}
.doc_div:hover .view_btn {background:#25136d;}
.doc_div .app_btn {width:97px; display:block; padding:5px 0px; color:#FFF; background:#04869a; position:absolute; bottom:1px; right:1px;}

@media only screen and (max-width:980px) { ul.doc_search_result li {width:33.33%;} }
@media only screen and (max-width:730px) { ul.doc_search_result li {width:50%;} }
@media only screen and (max-width:450px) { ul.doc_search_result li {width:100%;} }

ul.doc_search_result.prof_tab {margin:10px 0 0 0;}
ul.doc_search_result.prof_tab li {width:33%; vertical-align:top;}

@media only screen and (min-width:1001px) and (max-width:1100px) { ul.doc_search_result.prof_tab li {width:50%;} }
@media only screen and (max-width:800px) { ul.doc_search_result.prof_tab li {width:50%;} }
@media only screen and (max-width:500px) { ul.doc_search_result.prof_tab li {width:100%;} }

/* xxxxxxxxxxxxxxxxxxxxxxxxxxx */

.stats_info_box {width:auto; display:block; margin:0 0 30px;}
.stats_info_box .stats_info {display:block; text-align:center; float:left; margin:0 50px 0 0; font-weight:700; }
.stats_info_box .stats_info span {display:block; margin-bottom:10px; font-size:25px; color:#25136d;}

.passes td {text-align:center;}

/*  xxxxxxx  CONTACT US  xxxxxxx  */

.contact_table {width:100%; display:table;}
.contact_left {width:50%; height:auto; display:table-cell; padding:0 50px 0 0; vertical-align:top;}
.contact_right {width:50%; height:auto; display:table-cell; vertical-align:top;}

.cont_tl {display:block; float:left; clear:both; padding-bottom:4px; margin-bottom:15px; border-bottom:1px solid #04869a;}
.cont_tl img {vertical-align:text-bottom; margin-right:5px;}

.map_div {width:100%; height:400px; display:block; border:2px solid #04869a; background:#efefef;}
.gm-style-iw strong {color:#04869a; font-size:14px;}
.gm-style-iw p {margin-bottom:0;}

@media only screen and (max-width:850px) {
	.contact_left, .contact_right {width:100%; float:left; margin-bottom:20px; display:block; padding:0;}
}

@media only screen and (max-width:500px) {.map_div {height:300px;}}

@media only screen and (min-width:501px) {
.contact_nos {margin-bottom:15px;}
.contact_nos td {padding:0px 7px 4px 0px !important; font-size:13px; vertical-align:top; border:0 !important;}
}

.contact_nos td span {display:inline-block;}

@media only screen and (max-width:500px) {
.contact_nos {width:100%;}
.contact_nos * {display:block;}
.contact_nos tr {border-bottom:1px solid #ccc; padding:5px 0px !important;}
.contact_nos td {width:auto; padding:0px 10px !important; border:none !important;}
.contact_nos td:first-child {color:#000;}
.contact_nos tr:nth-child(even) {background:#f9f9f9;}
}

/* xxxxxxxxxxxx TESTIMONIALS xxxxxxxxxxxxxx */


.celebrity_testimonials {width:70%; height:auto; float:left; display:block;}

.celebrity_testimonials * {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.public_testimonials {width:30%; height:400px; float:right; border:1px solid #ccc; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position:relative; overflow:hidden;}

.testimonial_box {width:46%; float: left; margin:0px 4% 30px 0px; border:1px solid #ccc; -webkit-box-shadow:1px 1px 1px #ddd; -moz-box-shadow:1px 1px 1px #ddd; box-shadow:1px 1px 1px #ddd;}
.testimonial_box:hover { border:1px solid #04869a; -webkit-box-shadow:1px 5px 10px #999; -moz-box-shadow:1px 5px 10px #999; box-shadow:1px 5px 10px #999;}
.testimonial_box .img_box {width:auto; display:block; padding:25px 0px 0px; position:relative;}
.testimonial_box .img_box:before {content:''; width:100%; height:75px; position:absolute; top:0; background:#04869a; z-index:0;}
.testimonial_box .img_box img {width:100px; height:100px; display:block; margin:auto; padding:4px; background:#FFF; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; z-index:2; position:relative; -webkit-box-shadow:1px 1px 3px #999; -moz-box-shadow:1px 1px 3px #999; box-shadow:1px 1px 3px #999;}
.testimonial_box .testim_name {width:auto; padding:10px; display:block; text-align:center; font-size:15px;}
.testimonial_box .testim_content {width:auto; display:block; padding:10px; text-align:center;}
.testimonial_box .testim_content p {margin-bottom:20px;}
.testimonial_box .testim_content img {width:100%; height:auto; max-width:230px; display:block; margin:auto; border:1px solid #ddd;}

@media only screen and (max-width:900px) {
.celebrity_testimonials {width:100%; height:auto; float:left; display:block;}
.public_testimonials {width:100%; height:300px; float:left; display:block;}
}

@media only screen and (max-width:650px) {
.testimonial_box {width:100%; margin-right:0;}
.public_testimonials {height:250px;}
}

.public_testimonials .testim {width:auto; height:auto; display:block; padding:10px 20px 0px 25px; border-bottom:1px solid #ddd; background:url(../images/testimonial/comma.png) no-repeat 5px 8px;}
.public_testimonials .testim p {margin-bottom:10px;}

/* xxxxxxxx CAREERS xxxxxxxx */

.career_filters {width:auto; margin-bottom:30px !important; line-height:15px !important;}

@media only screen and (min-width:901px) {
table.careers {margin-bottom:30px;}
table.careers thead {background:none; color:#000; font-weight:700; border-bottom:2px solid #ddd; text-transform:uppercase;}
table.careers td {width:auto; border:none; padding:10px 15px; text-align:center;}
table.careers tr {border-bottom:1px solid #ccc;}
table.careers tbody tr:nth-child(odd) {background:#f9f9f9;}
}

a.apply_btn {background:#04869a; padding:4px 15px; color:#FFF; border-radius:10px;}
a.apply_btn:after {display:none;}
a.apply_btn:hover {background:#25136d; -webkit-box-shadow:0px 2px 5px #666; -moz-box-shadow:0px 2px 5px #666; box-shadow:0px 2px 5px #666;}

a.online_app_form {border:1px solid #04869a; padding:7px 20px; margin-bottom:30px;}
a.online_app_form:hover {background:#04869a; color:#FFF;}

@media only screen and (max-width:900px) {
table.careers * {display:block;}
table.careers {width:auto;}
table.careers thead {display:none;}
table.careers tr {margin:0px 0px 20px 0px; background:#FFF; border:1px solid #ccc; border-left:2px solid #25136d;}
table.careers td {width:auto; border:0px; position:relative; padding-left:110px; background:#fff;}
table.careers td:before {content:attr(data-title) ' :'; width:100px; height:auto; float:left; font-weight:normal; font-size:12px; margin:0px 0px 0px -100px; display:block; line-height:16px;}
table.careers td:nth-child(even) {background:#f9f9f9;}
table.careers td:first-child {font-weight:700;}
table.careers td:after {width:100%; content:''; display:block; clear:both;}
a.apply_btn {float:left;}
}

.apply_form_tl {width:auto; display:block; padding:15px; border-bottom:1px solid #ccc; background:#eee;}
.apply_form_div {width:auto; max-width:700px; margin:15px 15px 0px; display:block;}
.apply_form_div .form_field {width:45%; height:auto; float:left; margin:0px 5% 15px 0px; position:relative;}

@media only screen and (max-width:600px) {
	.apply_form_div .form_field {width:100%; margin:0px 0px 15px 0px;}
}

.upload_btn {background:#0C0; margin-top:18px; position:absolute; z-index:3; opacity:0; filter:alpha(opacity=0);}

.careers_thanks {margin:20px; text-align:center; display:block;}

/* xxxxxxxxxxx LHMT xxxxxxxxxxx */

.lhmt {margin-top:0px !important;}
.lhmt li {width:20%; float:left; list-style:none !important; padding:0; margin:0 !important;}
.lhmt li a {width:120px; height:155px; display:block; border:1px solid #ccc; position:relative; margin:0 auto 30px; background:#04869a;}
.lhmt li a img {width:120px; height:155px; background:url(../images/lhmt.jpg) no-repeat center center; opacity:0.9; filter:alpha(opacity=90);}
.lhmt li a:hover img {opacity:1; filter:alpha(opacity=100);}
.lhmt li a:hover {-webkit-box-shadow:0px 1px 10px #666; -moz-box-shadow:0px 1px 10px #666; box-shadow:0px 1px 10px #666; border:1px solid #04869a;}
.lhmt li a span {background:#25136d; color:#FFF; position:absolute; bottom:0px; right:0; left:0; display:block; width:auto; padding:5px;}
.lhmt li a:hover span {background:#04869a;}

@media only screen and (max-width:800px) {.lhmt li {width:25%;} }
@media only screen and (max-width:600px) {.lhmt li {width:33.33%;} }
@media only screen and (max-width:425px) {.lhmt li {width:50%;} }

.subscribe_form_div {width:auto; padding:0px; display:block;}
.subscribe_form_div .subscribe_fields, .subscribe_form_div .subscribe_thanks {width:auto; max-width:450px; display:block; margin:15px;}
.subscribe_form_div .form_field {width:350px; margin:0 auto 20px;}

@media only screen and (max-width:450px) {
.subscribe_form_div .form_field {width:250px;}
}


/* xxxxxxxxxxxxxxxxxxxxx */

@media only screen and (max-width:500px) {
table.dnb * {display:block;}
table.dnb {width:100%;}
table.dnb thead {display:none;}
table.dnb tr {margin:0px 0px 20px 0px; border:1px solid #ccc; border-left:2px solid #25136d;}
table.dnb td {width:auto; border:0px; position:relative; padding-left:130px;}
table.dnb td:before {content:attr(data-title) ' :'; width:120px; float:left; font-weight:normal; margin-left:-125px;}
table.dnb td:nth-child(even) {background:#f9f9f9;}
table.dnb td:first-child {font-weight:700;}
}

/* xxxxxxxxxx EDU BROCHURE xxxxxxxxxxx */

ul.ped {margin-top:30px; display:block;}
.ped li {width:25%; float:left; list-style:none !important; padding:0; margin:0 !important;}
.ped li a {width:150px; max-width:90%; height:185px; display:block; border:1px solid #ccc; position:relative; margin:0 auto 30px; background:#f5f5f5; overflow:hidden;}
.ped li a img {width:auto; max-width:100%; height:100%; display:block; margin:auto;}
.ped li a:hover {-webkit-box-shadow:0px 1px 10px #666; -moz-box-shadow:0px 1px 10px #666; box-shadow:0px 1px 10px #666; border:1px solid #04869a;}
.ped li a span {background:#25136d; color:#FFF; position:absolute; bottom:0px; right:0; left:0; display:block; width:auto; padding:7px 5px; line-height:16px;}
.ped li a:hover span {background:#04869a;}


@media only screen and (max-width:800px) {.ped li {width:33.33%;} }
@media only screen and (max-width:600px) {.ped li {width:50%;} }


/* xxxxxxxxxx GALLERY xxxxxxxxxxx */ 

.gallery li {width:33.33%; float:left; list-style:none !important; padding:0; margin:0 !important;}
.gallery li a {width:auto; height:auto; display:block; border:1px solid #ccc; position:relative; margin:0px 20px 40px; padding:0; background:#f5f5f5; overflow:hidden;}
.gallery li a div {width:100%; padding:55% 0 0 0; display:block; overflow:hidden; background:url(../images/fancybox_loading.gif) no-repeat center center #333;}
.gallery li a div img {width:100%; max-width:100%; height:auto; display:block; margin:auto; position:absolute; top:0;}
.gallery li a:hover {-webkit-box-shadow:0px 5px 15px #666; -moz-box-shadow:0px 5px 15px #666; box-shadow:0px 5px 15px #666; border:1px solid #04869a;}

.gallery li a span {background:#04869a; position:absolute; bottom:-60px; width:96%; padding:5px 2%; color:#FFF;}
.gallery li a:hover span {bottom:0px;}

@media only screen and (max-width:800px) {.gallery li {width:50%;}}
@media only screen and (max-width:600px) {.gallery li {width:100%;}}

/* xxxxxxxxxxxxxxxxxxxxxxx */

.tagline_box {width:auto; display:block; margin:0px 0px 30px; font-size:30px; line-height:40px; font-style:italic; text-align:center; color:#aaa; word-spacing:8px;}
@media only screen and (max-width:700px) {.tagline_box {font-size:25px; line-height:35px; word-spacing:5px;}}
@media only screen and (max-width:500px) {.tagline_box {font-size:20px; line-height:30px; word-spacing:0px;}}

.blood_tagline_box {width:auto; max-width:750px; display:block; margin:0px auto 30px; font-size:25px; line-height:35px; font-style:italic; text-align:center; color:#aaa; word-spacing:5px;}
@media only screen and (max-width:500px) {.blood_tagline_box{font-size:18px; line-height:30px; word-spacing:0;}}

/* xxxxxxxxxxxxxxxxxxxxxxx */

ul.emp_clients {width:100%; display:block; background:#9C0}
ul.emp_clients li {width:20%; list-style:none; margin:0px -1px -1px 0px; padding:5px; border:1px solid #ddd; display:inline-block; float:left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position:relative; overflow:hidden;}
ul.emp_clients li img {width:100%; height:auto; display:block;}
ul.emp_clients li span {width:auto; height:auto; padding:5px 7px; position:absolute; bottom:-100%; left:0; right:0; background:url(../images/fancybox_overlay.png); color:#fff; font-size:12px; line-height:16px;}
ul.emp_clients li:hover {z-index:1; border:1px solid #111;}
ul.emp_clients li:hover span {bottom:0;}

@media only screen and (max-width:900px) {ul.emp_clients li {width:25%;}}
@media only screen and (max-width:700px) {ul.emp_clients li {width:33.33%;}}
@media only screen and (max-width:450px) {ul.emp_clients li {width:50%;}}


/* xxxxxxxxxxx FEEDBACK xxxxxxxxxxxx */

.feedback_form {width:auto; display:block;}
.feedback_form .form_field {width:40%; height:auto; float:left; margin:0px 10% 15px 0px; position:relative; line-height:normal;}

@media only screen and (max-width:550px) {
.feedback_form .form_field {width:100%; margin:0px 0px 15px 0px;}
}

.fdbk_subtl {width:auto; display:block; margin-bottom:15px;}
.fdbk_subtl span {width:20px; display:inline-block;}

.fdbk_box {width:100%; display:table; margin-bottom:15px;}
.fdbk_box .fdbk_left {width:50%; display:table-cell; position:relative; padding-left:20px; vertical-align:top;}
.fdbk_box .fdbk_left:before {content:attr(data-no); position:absolute; top:0; left:0;}
.fdbk_box .fdbk_right {width:50%; display:table-cell;}

.fdbk_box .fdbk_right ul {width:100%; display:table; margin:0;}
.fdbk_box .fdbk_right ul li {list-style:none; display:table-cell; width:20%; text-align:center; padding:0; margin:0; position:relative;}
.fdbk_box .fdbk_right ul li:hover:before {content:attr(data-title); position:absolute; left:0; right:0; bottom:-18px; display:block;}

.ez-hide {opacity:0; filter:alpha(opacity=0); width:20px; height:20px; cursor:pointer;}
.ez-radio {width:20px; height:20px; background:transparent url(../images/radio_tick.png) center top no-repeat; display:inline-block; clear:both;}
.ez-checkbox {width:20px; height:20px; background:transparent url(../images/check_tick.png) center top no-repeat; display:inline-block; vertical-align:middle;}
.ez-radio:hover, .ez-selected, .ez-checked-select  {background-position: center bottom;}
.ez-radio, .ez-checkbox {zoom: 1; *display:inline; _height:20px; }

.fdbk_know {line-height:30px;}

.feedback_form .full_width.fl_wrap {width:96%; height:auto; min-height:auto; margin:0px 3% 30px 0px;}
.feedback_form .full_width.fl_wrap.focused, .feedback_form .full_width.fl_wrap.populated {min-height:80px !important; height:auto; -webkit-transition: all .1s linear; -moz-transition: all .1s linear; -transition: all .1s linear;}

.feedback_form .full_width.fl_wrap .fl_label {position:static !important;}
.feedback_form .full_width.fl_wrap .fl_input {max-width:100%; top:0px; overflow:hidden;}
.feedback_form .full_width.fl_wrap.focused .fl_input, .feedback_form .full_width.fl_wrap.populated .fl_input {max-width:100%; top:20px; position:static !important; overflow:auto;}

@media only screen and (max-width:700px) {
.fdbk_box .fdbk_left {width:auto; display:block; margin-bottom:10px;}
.fdbk_box .fdbk_right {width:100%; display:block;}
}

.validate_msg {width:auto; padding:7px 15px; background:#f4f4f4; border:1px solid #ddd; color:#F00; font-size:14px; margin-bottom:20px;}

/* xxxxxx  DOCTOR's PROFILE  xxxxxx */

@media only screen and (min-width:851px) {
.gray_box:before {content:''; background:#fafafa; border-right:1px solid #dedede; width:200px; display:block; position:absolute; top:120px; bottom:0; padding:130px 30px 0 5%; z-index:0;}
}

.profile_green_banner {width:100%; height:auto; min-height:120px; margin:0px; float:left; display:block; background:#04869a; position:relative; z-index:1;}

.doc_name_box {width:auto; display:block; margin:15px 0;}
.doc_name_box .doc_img {width:200px; float:left; position:relative; margin:0 0 0 5%;}
.doc_name_box .doc_img img {width:100%; height:auto; display:block; position:absolute; border:2px solid #e1e1e1; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; box-shadow:2px 2px 3px #aaa; z-index:1;}
.doc_name_box .doc_prof {margin:0px 5% 0px 340px; font-size:13px; color:#FFF;}
.doc_name_box .doc_prof div {margin-bottom:5px;}
.doc_name_box .doc_prof .doc_name {font-size:18px; margin-bottom:10px;}

.prof_main {width:auto; display:block; position:relative;}
.prof_main .side_box {width:205px; margin:130px 0px 0px 5%; float:left;}

.schedule_tl {width:auto; display:block; border-bottom:1px solid #ddd; text-align:center; padding-bottom:10px; font-size:16px;}
table.schedule {width:100%; margin-bottom:30px;}
table.schedule tr {border-bottom:1px solid #ddd;}
table.schedule td {border:none; color:#000; width:50%; padding:5px 15px; text-align:center; width:40%;}
table.schedule td:nth-child(even) {width:60%;}

a.bk_app_btn {width:auto; max-width:200px; display:block; background:#04869a; color:#FFF; text-align:center; padding:10px; margin:0 auto 30px;}
a.bk_app_btn:hover {color:#FFF; background:#25136d; -webkit-box-shadow:0px 3px 6px #666; -moz-box-shadow:0px 3px 6px #666; box-shadow:0px 3px 6px #666;}

.prof_main .side_box .ad_box {width:auto; display:block; margin-bottom:30px;}
.prof_main .side_box .ad_box img {width:100%; height:auto; display:block; border:1px solid #ddd;}

.prof_main .prof_content {width:auto !important; display:block; margin:0px 5% 0 340px; padding-top:30px;}

@media only screen and (max-width:1000px) {
.doc_name_box .doc_prof, .prof_main .prof_content {margin:0px 5% 0px 310px;}
}

@media only screen and (max-width:850px) {
.doc_name_box {display:table; width:100%;}
.doc_name_box .doc_img {display:table-cell; float:none; margin:0; width:150px; padding:0 20px; vertical-align:top;}
.doc_name_box .doc_img img {position:static; width:150px; margin:0;}
.doc_name_box .doc_prof {display:table-cell; margin:0; vertical-align:bottom;}

.prof_main .side_box {width:auto; margin:0; padding:15px 15px 1px; background:#fafafa; border-bottom:1px solid #ddd; float:none; display:block;}

.prof_main .side_box .ad_box {display:none;}

.prof_main .prof_content {margin:0px 5%;}
}

@media only screen and (min-width:550px) and (max-width:850px) {
.schedule_tl {border-bottom:0;}
table.schedule {margin-bottom:20px;}
table.schedule * {display:block;}
table.schedule tbody {width:100%; display:table; text-align:center; background:#FFF;}
table.schedule tr {width:16.66%; display:table-cell; border:1px solid #ddd; vertical-align:top;}
table.schedule tr td {width:auto !important; padding:5px; text-align:center;}
table.schedule tr td:first-child {background:#ccc; font-weight:bold;}
}

@media only screen and (max-width:500px) {
.doc_name_box .doc_img {display:block; margin:0 auto 15px; width:120px;}
.doc_name_box .doc_img img {width:120px;}
.doc_name_box .doc_prof {display:block; text-align:center;}
}


/*  xxxxx FORM xxxxx  */

.submit_btn {width:auto; padding:10px 15px; background:#04869a; color:#FFF; font-size:14px; display:table; margin:auto;}
.submit_btn:hover {-webkit-box-shadow:0px 3px 6px #666; -moz-box-shadow:0px 3px 6px #666; box-shadow:0px 3px 6px #666; background:#25136d;}

.captcha_box {width:auto; display:table; margin:10px auto 20px;}
.captcha_box .img_box {border:1px solid #ccc; position:relative; margin-bottom:5px;}
.captcha_box .img_box .refresh {position:absolute; right:-30px; top:25px; width:18px; height:18px; font-size:18px; cursor:pointer;}


/* Select dropdown */

.selectRegion {width:100%; height:40px; position:relative;}
.selectRegion ul{margin:0; padding:0; position:absolute; top:40px; width:100%; max-height:200px; overflow:auto; background:#fff; z-index:10; -webkit-box-shadow:0px 4px 8px #aaa; -moz-box-shadow:0px 4px 8px #aaa; box-shadow:0px 4px 8px #aaa;}
.selectRegion ul li{padding:10px;}
.selectRegion ul li:hover{cursor: pointer; background:#25136d; color:#FFF; font-size:13px;}
.selectRegion .transition {-webkit-transition: all .05s linear; -moz-transition: all .05s linear; transition: all .05s linear;}



	
/* MODIFIED DATE PICKER */
.ui-datepicker {width:250px !important; padding:2px !important; font-size:14px !important;}
.ui-datepicker table {margin:0 !important;}
.ui-datepicker .ui-widget-header {background:#04869a !important; color:#fff; font-weight:normal;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {background:#04869a !important; color:#fff !important; border:1px solid #04869a !important;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {margin:0px 4px !important; font-size:13px !important;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {background:#04869a !important; color:#fff !important; border:1px solid #04869a !important;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {}

.form_div .form_field {width:30%; height:auto; float:left; margin:0px 3% 20px 0px; position:relative;}

.form_div .full_width {width:96%; height:42px; margin:0px 3% 15px 0px;}

.form_div .full_width.focused, .form_div .full_width.populated {min-height:80px !important; height:auto; -webkit-transition: all .1s linear; -moz-transition: all .1s linear; -transition: all .1s linear;}

.form_div .single_width {width:300px !important; max-width:100% !important; display:block !important; float:none !important; margin:0 auto 20px !important;}

.form_div .form_centering_div {width:auto; display:table; margin:0 auto 20px;}

@media only screen and (max-width:700px) {
.form_div .form_field {width:45%; margin:0px 5% 15px 0px;}
}

@media only screen and (max-width:500px) {
.form_div .form_field {width:100%; margin:0px 0% 15px 0px;}
.form_div .full_width {width:100%; margin:0px 0% 15px 0px;}
}

/* xxxxxxxxxxxxxxx */

.users_links {width:100%; display:block; margin:0px 0px 20px; position:relative;}
.users_links:after {content:''; width:100%; display:block; background:#ccc; height:1px; position:absolute; bottom:10px; z-index:0;}
.users_links li {display:inline-block; padding:0px 5px; margin:0px 0px 10px 0px; text-transform:uppercase; letter-spacing:normal;}
.users_links li a {display:block; color:#666; padding: 5px 5px; font-size:13px; }
.users_links li a:after {height:3px; bottom:-1px; z-index:1;}
.users_links li.active a {color:#04869a; font-weight:700;}
.users_links li.active a:after {width:100%; left:0; right:0;}

.history_table {width:100%; border-collapse:collapse;}
.history_table thead {background:#25136d; color:#FFF;}
.history_table td {border:1px solid #ccc; padding:10px;}
.history_table a {font-size:16px; display:inline-block; margin:0px 3px;}

@media only screen and (max-width:700px) {
.history_table * {display:block;}
.history_table thead {display:none;}
.history_table tr {margin:0px 0px 15px; border:1px solid #ccc; border-left:3px solid #25136d; position:relative;}	
.history_table tr td {border:0; position:relative; padding-left:130px;}
.history_table tr td:before {content:attr(data-title); position:absolute; left:8px; color:#666; font-size:12px; text-transform:uppercase; letter-spacing:normal;}
.history_table tr td:nth-child(even) {background:#f9f9f9;}
.history_table tr td:last-child {position:absolute; top:0px; right:0px; width:50px;}
}

.pagination {width:auto; display:table; margin:20px auto; text-align:center; border:1px solid #ddd; vertical-align:top;}
.pagination .pg_prev, .pagination .pg_next {background:#f3f3f3; padding:5px;}
.pagination a {display:inline-block; padding:5px 8px;}
.pagination .pg_active {display:inline-block; padding:5px 8px; font-weight:bold;}

/* xxxxxxxx Dashboard xxxxxxxx */

.db_box_main {width:100%; display:table;}
.db_box_main .db_box {display:table-cell;}
.db_box_main .db_box a {width:170px; height:auto; display:block; margin:auto; padding:10px; background:#fff; border:1px solid #ddd; text-align:center; font-weight:700; text-transform:uppercase; font-size:12px; -webkit-box-shadow:inset 0px 0px 30px #ddd; -moz-box-shadow:inset 0px 0px 30px #ddd; box-shadow:inset 0px 0px 30px #ddd;}
.db_box_main .db_box a:after {display:none;}
.db_box_main .db_box a:hover {background:#FFF; border:1px solid #04869a; -webkit-box-shadow:inset 0px 0px 80px #75D5C8, 0px 2px 4px #888; -moz-box-shadow:inset 0px 0px 80px #75D5C8, 0px 2px 4px #888; box-shadow:inset 0px 0px 80px #75D5C8, 0px 2px 4px #888;}
.db_box_main .db_box a img {display:block; margin:10px auto; width:80px;}

@media only screen and (max-width:950px) {
.db_box_main {width:100%; max-width:700px; display:table; margin:auto; text-align:center;}
.db_box_main .db_box {display:inline-block; width:50%; margin-bottom:30px;}
}

@media only screen and (max-width:600px) {
.db_box_main .db_box a img {display:block; margin:10px auto; width:70px;}
}

@media only screen and (max-width:450px) {
.db_box_main .db_box {display:inline-block; width:100%; margin-bottom:20px;}
.db_box_main .db_box a {width:auto; height:50px; margin:0px 15px; text-align:left;}
.db_box_main .db_box a img {vertical-align:middle; margin:0 10px; width:60px; display:inline-block;}
}

ul.search_result {display:block;}
ul.search_result li {float:left; list-style:none;}
ul.search_result li .search_hd {font-weight:bold; font-size:16px;}

/* xxxxxxxxxxxxx Tabs System xxxxxxxxxxxxx */

.tabs_main {width:auto; display:block;}
ul.tab_list {margin:0px 0px 20px; padding:0; position:relative; display:block;}
ul.tab_list:after {content:''; width:100%; display:block; background:#ccc; height:1px; position:absolute; bottom:5px; z-index:0;}

ul.tab_list li{list-style:none; margin:0px; padding:0px; display:inline-block;}

ul.tab_list li a {padding:3px 10px; margin-left:3px; margin-bottom:5px; border-bottom:none; text-transform:uppercase; color:#999;}
ul.tab_list li a:hover {color:#04869a;}
ul.tab_list li a:after {height:3px; bottom:-1px; z-index:1;}

ul.tab_list li a.selected {color:#04869a; font-weight:700;}
ul.tab_list li a.selected:hover {color:#04869a;}
ul.tab_list li a.selected:after {width:100%; left:0; right:0;}

/* xxxxxxxxxxxxx Floor Directory xxxxxxxxxxxxx */

.floor_directory {width:100%;}
.floor_directory td {width:25%;}

@media only screen and (max-width:600px) {
.floor_directory * {display:block;}
.floor_directory thead {display:none;}
.floor_directory tr {margin:0px 0px 15px; border:1px solid #ccc; border-left:3px solid #25136d; position:relative;}	
.floor_directory tr td {border:0; position:relative; padding-left:70px; width:auto;}
.floor_directory tr td:before {content:attr(data-title); float:left; width:60px; margin-left:-60px; color:#666; font-size:12px; text-transform:uppercase; letter-spacing:normal;}
.floor_directory tr td:nth-child(even) {background:#f9f9f9;}
}

/* xxxxxxxxxxxxx Healthchkup Form xxxxxxxxxxxxx */

.hc_form_div {width:auto; padding:0px; display:block;}
.hc_form_div .hc_form, .hc_form_div .hc_thanks {width:auto; max-width:700px; display:block; margin:15px;}
.hc_form_div .hc_form p {margin-bottom:0px;}
.hc_form_div .form_field {width:45%; margin:0 5% 20px 0; float:left;}

@media only screen and (max-width:600px) {
.hc_form_div .form_field {width:90%; margin:0 auto 20px; display:block; float:none;}	
}

.dwn_brochures {width:auto; display:block; border:1px solid #04869a;}
.dwn_brochures .dwn_tl {width:auto; padding:5px 20px; background:#04869a; color:#FFF;}

.acd_img {width:45%; float:right;}
.acd_img img {width:100%; height:auto; display:block; padding:5px; border:1px solid #ccc;}
.acd_table {width:50%; float:left;}

@media print {
.navigation, .chat_btn {display:none;}
}

.opd_serv li {width:31%; margin-right:2%; display:inline-block; vertical-align:top; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
@media only screen and (max-width:750px) {.opd_serv li {width:47%;}}
@media only screen and (max-width:500px) {.opd_serv li {width:auto; display:block;}}

