
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);

* {padding:0; margin:0;}

body {font-family: 'Lato', sans-serif; letter-spacing:0.05em; font-weight:400;}

a, a:hover {outline:none; text-decoration:none; cursor:pointer; color:inherit;}
img, a img {outline:none; border:none;}
p {margin-bottom:10px; line-height:20px;}
ul, li {margin:0px; padding:0px; list-style:none;}

input, textarea, select {outline:none; font-family: 'Lato', sans-serif; border:none;}
input[type="submit"], input[type="button"], input[type="image"] {cursor:pointer; border:0; outline:0;}
textarea {-o-transition: none !important; -moz-transition: none !important; -webkit-transition: none !important; transition: none !important;}

h1, h2, h3, h4, h5, h6 {font-weight:normal;}

.clear {clear:both;}
.left{float:left;}
.right{float:right;}

::selection {background:#000; color:#fff;}
::-moz-selection {background:#000; color:#fff;}

.fade_anim, .fade_anim * {-webkit-transition: all .35s ease-out; -o-transition: all .35s  ease-out; -moz-transition: all .35s  ease-out; transition: all .35s  ease-out;}

/*  xxxxxx HEADER xxxxxxx  */

.wrapper {width:auto; height:auto; margin:0px; position:relative;}

.header {width:auto; height:auto; display:table; padding:5px 10px 0px 10px; background:#fff; border-bottom:4px solid #04869a; position:relative; z-index:5; }

.logo_box {width:31%; max-width:392px; height:auto; float:left; margin:10px 0px 0px 0px;}
.logo_box .logo {width:100%; max-width:392px; display:block;}

.header .header_top {width:auto; height:auto; float:right; margin:0px 0px 5px 0px;}

.language {float:right; width:105px; height:25px; margin:12px 0px 0px 15px;}
.language .goog-te-menu-value {font-size:11px; line-height:25px;}
.language .goog-te-gadget {height:25px;}
.language .goog-te-gadget-simple {height:24px; padding:0;}
.language .goog-te-gadget-icon {margin-right:0; width:15px; height:15px;}

.search_box {float:right; margin:12px 0px 0px 15px; width:140px; height:24px; font-size:11px; border:1px solid #ddd; -webkit-box-shadow:0px 0px 5px #bbb; -moz-box-shadow:0px 0px 5px #bbb; box-shadow:0px 0px 5px #bbb;}
.search_box .search_type {width:111px; height:25px; float:left; padding:0px 2px; line-height:24px;}
.search_box .search_btn {width:25px; height:24px; float:left; background:#04869a; color:#FFF; text-align:center; line-height:25px;}

.nabh {float:right; margin:0px 0px 0px 15px;}

.emergency_nos {float:right; margin:8px 0px 0px 0px; font-size:12px; color:#4f4f4f; line-height:16px;}
.emergency_nos .bl, .emergency_nos .el {float:left; margin:0px 0px 0px 15px;}

@media only screen and (max-width:1100px) {
	.header .header_top {margin:0px 0px 5px 0px;}
	.language, .search_box, .nabh {margin-left:9px;}
	.emergency_nos .bl {float:left; margin:0px 0px 0px 10px;} .emergency_nos .el {float:left; margin:0px 0px 0px 0px;}
}

@media only screen and (max-width:1023px) {
.header {display:block;}
.header .header_top {width:100%; display:table;}
.logo_box {width:auto; max-width:392px; margin:0px 0px 10px;}
}

@media only screen and (min-width:701px) {
.mob_search {display:none;}
}

@media only screen and (max-width:700px) {
.language, .search_box {display:none;}
.mob_search {margin:10px auto; width:200px; height:24px; font-size:11px; border:1px solid #fff;}
.mob_search .search_type {width:171px; height:25px; float:left; padding:0px 2px; line-height:24px;}
.mob_search .search_btn {width:25px; height:24px; float:left; background:#04869a; color:#FFF; text-align:center; line-height:25px;}

.mob_language {width:200px; height:25px; display:block; margin:0 auto 15px;}
}

/* xxxxxxxxx NAVIGATION xxxxxxxx */

.navigation {width:auto; height:28px; float:right; margin:0px 0px 0px 0px; display:block;}

@media only screen and (min-width:1024px) {
.menu {width:auto; float:right;}
.menu li {width:auto; float:left; margin:0px 0px 0px 67px; text-align:right; position:relative; text-align:center;}
.menu li:first-child {margin-left:0;}
.menu li a {font-size:14px; line-height:28px; font-weight:600; letter-spacing:0;}

.menu li:hover a, .menu li.active a {color:#04869a;}
.menu li.active:after {content:''; position:absolute; left:0; right:0; bottom:-12px; margin:auto; border-top:10px solid #04869a; border-left:10px solid transparent; border-right:10px solid transparent; width:0;}
	
ul.menu li ul {position:absolute; width:210px; top:28px; background:#04869a; z-index:1; -webkit-box-shadow:0px 2px 7px #666; -moz-box-shadow:0px 2px 7px #666; box-shadow:0px 2px 7px #666; display:none; border-top:4px solid #04869a;}

ul.menu li ul li {display:block; margin:0px; float:none; text-align:left; border-bottom:1px dotted #5aafbc; height:auto;}
ul.menu li ul li:last-child {border-bottom:0px;}
ul.menu li ul li a {padding:1px 10px; text-transform:none; line-height:30px; font-weight:400; color:#fff !important; display:block; -webkit-transition: all .2s ease-in; -o-transition: all .2s  ease-in; -moz-transition: all .2s  ease-in; transition: all .2s  ease-in;}
ul.menu li ul li a:hover {background:#FFF; color:#000 !important; font-weight:600; padding:1px 15px;}

ul.menu li:hover:before {width:0px;height:0px;position:absolute;left:20px;top:23px;content:'';border-width:0px 7px 7px 7px;border-style:solid;border-color: transparent transparent #04869a transparent;}

ul.menu li li:before {display:none;}
}
	
.menu_open, .menu_close {display:none;}

@media only screen and (min-width:1024px) and (max-width:1100px) {
.menu li {margin:0px 0px 0px 60px;}	
}

@media only screen and (max-width:1023px) {
.navigation {width:auto;}

.menu_open {display:block; padding:8px; margin:20px 0px 0px; float:left; font-size:14px; cursor:pointer; border:1px solid #04869a; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

.menu_close {width:25px; height:25px; float:right; margin:0px; padding:5px; font-size:18px; font-weight:600; color:#fff; line-height:25px; text-align:center;  cursor:pointer; display:block; border-left:1px dotted #5aafbc;}

.pushy {position:fixed; width:280px; height:100%; top:0; right:0px; z-index:9999; background:#04869a; overflow:auto; -webkit-overflow-scrolling:touch; -webkit-box-shadow:-3px 0px 15px #333; -moz-box-shadow:-3px 0px 15px #333; box-shadow:-3px 0px 15px #333;}

/* Menu Movement */

.pushy-right{-webkit-transform: translate3d(300px,0,0); -moz-transform: translate3d(300px,0,0); -ms-transform: translate3d(300px,0,0); -o-transform: translate3d(300px,0,0); transform: translate3d(300px,0,0);}

.pushy-open{-webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}

.container-push, .push-push {-webkit-transform: translate3d(-230px,0,0); -moz-transform: translate3d(-230px,0,0); -ms-transform: translate3d(-230px,0,0); -o-transform: translate3d(-230px,0,0); transform: translate3d(-230px,0,0);}

.pushy, #container, .push{-webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99); -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99); -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99); transition: transform .2s cubic-bezier(.16, .68, .43, .99); /*improves performance issues on mobile */-webkit-backface-visibility: hidden;/*-webkit-perspective: 10000;*/
}

.site-overlay{display: none;}

.pushy-active .site-overlay{display: block; position: fixed; right: 0px; top: 0; left:0; bottom:0; z-index: 1111;}

.nav ul.menu {margin:35px 0px 20px 0px; float:none; display:block;}
.nav ul.menu li {display:block; border-bottom:1px dotted #5aafbc;}
.nav ul.menu li:first-child {border-top:1px dotted #5aafbc;}
.nav ul.menu li a {padding:10px; display:block; font-size:14px; color:#FFF; text-transform:uppercase;}

.nav ul.menu li.active a, ul.menu li:hover a {background-color:#fff; color:#04869a;}

.nav ul.menu li ul li {border-bottom:0px;}
.nav ul.menu li li:first-child {border-top:0px;}
.nav ul.menu li ul li a:before {content:'- '; }
.nav ul.menu li ul li a {text-transform:none; font-size:13px; color:#000 !important; padding:7px 5px 7px 20px; position:relative;}

}




/* xxxxxxxxx FOOTER xxxxxxxx */

@media only screen and (min-width:1024px) {.foot_fixed {position:fixed; bottom:0;}}

.footer {width:100%; min-height:92px; display:table; background:#f4f4f4; border-top:4px solid #04869a; padding-top:8px;}

.foot_col {width:auto; min-width:16.55%; display:table-cell; padding:0 1%; font-size:13px; color:#686868; vertical-align:top;}
.foot_col a:hover {color:#04869a;}

.foot_links li {margin-bottom:6px;}

a.app_links {display:block; padding:2px 10px; margin:5px 0px; font-size:12px; color:#000; border:1px solid #000; width:150px; border-radius:15px;}
a.app_links i {font-size:20px; margin-right:3px; display:inline-block; vertical-align:middle;}
a.app_links:hover {background:#04869a; color:#FFF;}

.social_icons {width:auto;}
.social_icons li {float:left; font-size:22px; margin:5px; opacity:0.8; filter:alpha(opacity=80);}
.social_icons li:hover {opacity:1; filter:alpha(opacity=100);}

.newsletter_box {width:100%; margin:10px 0; font-size:12px;}
.newsletter_box input[type="text"] {width:auto; height:25px; background:#FFF; border:1px solid #ccc;}
.newsletter_box input[type="button"] {width:35px; height:27px; background:#929292; font-size:12px; color:#fff;}
.newsletter_box input[type="button"]:hover {background:#04869a;}

.copy {text-align:right; font-size:11px; color:#000; line-height:16px;}

.chat_btn {position:fixed; bottom:0px; right:5px;}

@media only screen and (max-width:1023px) {
.footer {padding-bottom:25px; display:block;}

.foot_col {width:31%; display:inline-block; float:left; margin-bottom:20px; text-align:center;}

.foot_col.copy {width:auto; display:block; text-align:center; float:none;}

.foot_col.social_icons {float:none; clear:both; margin:10px auto 20px; display:block; text-align:center; width:200px;}
.foot_col.social_icons li {float:none; display:inline-block;}

.foot_col.app_box {width:auto; display:block; text-align:center; float:none; clear:both; margin:10px;}
.app_btns {display:block;}
a.app_links {display:inline-block; margin:5px;}

}

@media only screen and (max-width:550px) {
.foot_col {width:48%; margin:0 auto 10px; padding:0; float:none; display:inline;}	
}


/*  xxxxxxxxxxxxxxxxxx HOME PAGE xxxxxxxxxxxxxxxxxx  */

.index_container {width:100%; height:auto; z-index:0;}

.home_carousel {width:auto; height:100%; padding:0px;}

.home_carousel .scroll_div {height:99%; margin-left:25px; border:1px solid #ccc; position:relative;}

.small_width {width:310px;}

.scroll_div .tl_box {background:#25136d; color:#fff; font-size:14px; padding:20px 15px; position:relative; z-index:10;}

.scroll_div .tl_box .viewall_btn {float:right; font-size:12px; padding:2px 5px; border-radius:10px;}
.scroll_div .tl_box .viewall_btn:hover {background:#04869a;}

.slider {width:auto; height:100%; position:relative;}
.slider img {width:auto; max-width:100%; height:100%; display:block;}

.slider .cycle-pager {text-align:center; width:100%; height:20px; line-height:20px; z-index:500; position:absolute; bottom:10px; overflow:hidden;}
.slider .cycle-pager span {font-family:arial; font-size:50px; width:16px; height:16px; margin:0px 2px; display:inline-block; color:#04869a; cursor:pointer; text-shadow:0px 0px 2px #25136d;}
.slider .cycle-pager span.cycle-pager-active {color:#fff; text-shadow:0px 0px 2px #25136d;}
.slider .cycle-pager > * {cursor:pointer;}

.testimonials, .awards_width {width:600px;}

.index_content_box {width:100%; height:auto; top:57px; bottom:0px; position:absolute; z-index:0;}

.green_bg {background:#04869a;}

.box_links li a {display:table; width:100%; border-bottom:1px solid #e5e5e5; color:#000;}
.box_links li a:hover {color:#04869a; box-shadow:inset 0px 0px 60px #75D5C8;}
.box_links li .bl_img {display:table-cell; width:40px; height:40px; padding:15px 20px;}
.box_links li .bl_txt {display:table-cell; vertical-align:middle; padding:5px 15px 5px 0px; text-transform:uppercase; font-size:12px; font-weight:bold;}

.keyfactors li {padding:18px; border-bottom:1px solid #e5e5e5; font-size:13px; color:#000;}
.keyfactors img {max-width:100%; height:auto; display:block; margin-top:10px; border:1px solid #999;}

.updates li {border-bottom:1px solid #e5e5e5; font-size:13px; line-height:20px; color:#000;}
.updates a {display:block; padding:10px 15px; }
.updates a:hover {color:#04869a; box-shadow:inset 0px 0px 30px #75D5C8;}

.awards li {display:inline-block; width:50%; height:130px; margin:-1px -1px 0px 0px; border:1px solid #e5e5e5; border-left:0px; float:left; overflow:hidden; font-size:13px; position:relative; }
.awards li img {width:100px; height:100px; display:block; margin:15px; float:left; border:0px solid #eee;}
.awards li span {width:auto; height:auto; display:block; margin:15px 15px 15px 110px;}

.package_lists {margin:0 10px 15px 10px;}
.package_lists li {font-size:13px; position:relative; margin-bottom:3px;}
.package_lists li a {padding:5px 8px; display:block;}
.package_lists li:hover a {color:#FFF;}
.package_lists li:before {width:0%; height:100%; content:''; position:absolute; z-index:-1; -webkit-transition: width .8s ease-in-out; -o-transition: width .8s ease; -moz-transition: width .8s ease; transition: width .8s ease; background:#FFF; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.package_lists li:hover:before {width:100%; background:#04869a;}

.testimonial_list li {display:block; width:50%; height:auto; margin:-1px -1px 0px 0px; border:1px solid #e5e5e5; border-left:0px; float:left; overflow:hidden; font-size:13px;}
.testimonial_list li .testimonial_img {display:table; width:auto; vertical-align:top; margin:15px;}
.testimonial_list li .testimonial_img img {width:85px; height:85px; display:table-cell; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; border:1px solid #999; margin-right:15px;}
.testimonial_list li .testimonial_img .name {font-weight:700; width:auto; display:table-cell; vertical-align:middle;}
.testimonial_list li .testimonial_txt {display:block; height:40px; margin:15px; line-height:20px; overflow:hidden;}

.social_init li {padding:18px; border-bottom:1px solid #e5e5e5; font-size:13px; line-height:20px; color:#000; font-weight:600;}
.social_init li img {max-width:100%; height:auto; display:block; margin-bottom:10px; border:1px solid #eee;}

.social_btns {margin:0px 20px;}
.social_btns li {margin-bottom:5px; text-align:center;}
.social_btns li a:hover img {-webkit-box-shadow:0px 2px 6px #666; -moz-box-shadow:0px 2px 6px #666; box-shadow:0px 2px 6px #666; -webkit-border-radius:3px;  -moz-border-radius:3px; border-radius:3px;}

@media only screen and (min-width:1024px) {
.index_container {position:fixed; top:100px; bottom:102px; padding:20px 0px;}
}

@media only screen and (max-width:1023px) {
.index_container {position:relative;}

.home_carousel {padding:0px 0px;}

.home_carousel .scroll_div {margin-left:0; height:427px;}

.home_carousel .small_width {width:45%; margin:0px 2.3% 30px; display:inline-block;}

.scroll_div.sliderbox {height:auto; margin:0px 0px 30px 0px;}

.slider img {width:100%; height:auto; display:block;}

.scroll_div.testimonials, .scroll_div.awards_width {width:auto; height:403px; display:block; margin:0 2.3% 30px;}

}

@media only screen and (max-width:650px) {
.home_carousel .scroll_div {/*max-height:427px;*/ height:auto; display:block;}
.home_carousel .small_width {width:auto; margin:0px 2.3% 30px; display:block;}
.index_content_box {position:static;}
.social_init li {text-align:center;}
.social_init li img {margin:0px auto 10px;}
}

@media only screen and (max-width:550px) {
.testimonial_list li, .awards li {width:100%; margin:0px; border-right:0; border-top:0;}
.testimonial_list li .testimonial_txt {height:auto;}
}