/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content. But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {display:none;}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up |  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber{display:none;}

.tabberlive {margin:0;}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list |  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav {margin:0px 0px 20px; padding:0; position:relative; display:block;}
ul.tabbernav:after {content:''; width:100%; display:block; background:#ccc; height:1px; position:absolute; bottom:5px; z-index:0;}

ul.tabbernav li{list-style:none; margin:0px; padding:0px; display:inline-block;}

ul.tabbernav li a {padding:3px 10px; margin-left:3px; margin-bottom:5px; border-bottom:none; text-transform:uppercase; color:#999;}
ul.tabbernav li a:hover {color:#04869a;}
ul.tabbernav li a:after {height:3px; bottom:-1px; z-index:1;}

ul.tabbernav li.tabberactive a{color:#04869a; font-weight:700;}
ul.tabbernav li.tabberactive a:hover {color:#04869a;}
ul.tabbernav li.tabberactive a:after {width:100%; left:0; right:0;}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {padding:5px; border-top:0;}

.tabberlive .tabbertab h2 {display:none;}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {}
.tabberlive#tab2 {}
.tabberlive#tab2 .tabbertab {height:200px; overflow:auto;}
