﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MainMaster.master" AutoEventWireup="true" CodeFile="privacypolicy.aspx.cs" Inherits="privacypolicy" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
    <script type="text/javascript" src="/js/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" />
    <script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>

    <script type="text/javascript" src="../js/tabcontent.js"></script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <div class="inner_page_container">

        <div class="green_banner">
            <div class="page_title">Privacy Policy</div>
        </div>
        <div class="clear"></div>

        <div class="container text_format fade_anim">
            <p>
                The terms &quot;We&quot; / &quot;Us&quot; / &quot;Our&quot;/&rdquo;Trust&rdquo; individually and collectively refer to <strong>LILAVATI HOSPITAL &amp; RESEARCH CENTRE</strong> and the terms &quot;You&quot; /&quot;Your&quot; / &quot;Yourself&quot; refer to the users.
            </p>
            <p>
                LILAVATI HOSPITAL AND RESEARCH CENTRE KITILAL MEHTA HOSPITAL &amp; MEDICAL RESEARCH CENTRE, is owned and run by Lilavati Kirtilal Mehta Medical Trust, a public charitable Trust registered under Maharashtra Public Trusts Act, 1950 vide PTR No. E-6892 (Bom) has its registered office at A-791, Bandra Reclamation, Bandra West, Mumbai: 400050
            </p>
            <p>
                This Privacy Policy is an electronic record in the form of an electronic contract formed under the information Technology Act, 2000 and the rules made thereunder and the amended provisions pertaining to electronic documents / records in various statutes as amended by the information Technology Act, 2000. This Privacy Policy does not require any physical, electronic or digital signature.
            </p>
            <p>
                This Privacy Policy is a legally binding document between you and <strong>LILAVATI HOSPITAL &amp; RESEARCH CENTRE</strong> (both terms defined below). The terms of this Privacy Policy will be effective upon your acceptance of the same (directly or indirectly in electronic form, by clicking on the&rdquo; I accept&rdquo; tab or by use of the website or by other means) and will govern the relationship between you and <strong>LILAVATI HOSPITAL &amp; RESEARCH CENTRE </strong>for your use of Website &amp; the payment gateway &ldquo;Payment Gateway&rdquo; (defined below).
            </p>
            <p>
                This document is published and shall be construed in accordance with the provisions of the Information Technology (reasonable security practices and procedures and sensitive personal data of information) rules, 2011 under Information Technology Act, 2000; that require publishing of the Privacy Policy for collection, use, storage and transfer of sensitive personal data or information.
            </p>
            <p>
                Please read this Privacy Policy carefully. By using the Website &amp; Payment Gateway, you indicate that you understand, agree and consent to this Privacy Policy. If you do not agree with the terms of this Privacy Policy, please do not use this Website &amp; Payment Gateway.
            </p>
            <p>
                By providing us your Information or by making use of the facilities provided by the Website &amp; Payment Gateway, you hereby consent to the collection, storage, processing and transfer of any or all of Your Personal Information and Non-Personal Information by us as specified under this Privacy Policy. You further agree that such collection, use, storage and transfer of Your Information shall not cause any loss or wrongful gain to you or any other person.
            </p>
            <p>
                <strong>USER INFORMATION</strong>
            </p>
            <p>
                To avail certain services on our Website &amp; Payment Gateway, users are required to provide certain information for the registration process namely: - a) your name, b) email address, c) sex, d) age, e) PIN code, f) credit card or debit card details g) medical records and history h)gender, i) biometric information, j) password etc., and / or your occupation, interests, and the like. The Information as supplied by the users enables us to improve our sites and provide you the most user-friendly experience.<br />
                <br />
                All required information is service dependent and we may use the above said user information to, maintain, protect, and improve its services (including advertising services) and for developing new services<br />
                <br />
                Such information will not be considered as sensitive if it is freely available and accessible in the public domain or is furnished under the Right to Information Act, 2005 or any other law for the time being in force.<br />
            </p>
            <p>
                <strong>COOKIES</strong><br />
                To improve the responsiveness of the sites for our users, we may use &quot;cookies&quot;, or similar electronic tools to collect information to assign each visitor a unique, random number as a User Identification (User ID) to understand the user&#39;s individual interests using the Identified Computer. Unless you voluntarily identify yourself (through registration, for example), we will have no way of knowing who you are, even if we assign a cookie to your computer. The only personal information a cookie can contain is information you supply (an example of this is when you ask for our Personalized Horoscope). A cookie cannot read data off your hard drive. Our advertisers may also assign their own cookies to your browser (if you click on their ads), a process that we do not control.&nbsp;<br />
                <br />
                Our web servers automatically collect limited information about your computer&#39;s connection to the Internet, including your IP address, when you visit our site. (Your IP address is a number that lets computers attached to the Internet know where to send you data -- such as the web pages you view.) Your IP address does not identify you personally. We use this information to deliver our web pages to you upon request, to tailor our site to the interests of our users, to measure traffic within our site and let advertisers know the geographic locations from where our visitors come.&nbsp;
            </p>
            <p>
                <strong>LINKS TO THE OTHER SITES</strong><br />
                Our policy discloses the privacy practices for our own website &amp; payment gateway only. Our website provides links to other websites also that are beyond our control. We shall in no way be responsible in way for your use of such sites<strong>. </strong>
            </p>
            <p>
                <strong>INFORMATION SHARING</strong><br />
                We share the sensitive personal information to any third party without obtaining the prior consent of the user in the following limited circumstances:<br />
                <br />
                <strong>(a)</strong>&nbsp;When it is requested or required by law or by any court or governmental agency or authority to disclose, for the purpose of verification of identity, or for the prevention, detection, investigation including cyber incidents, or for prosecution and punishment of offences. These disclosures are made in good faith and belief that such disclosure is reasonably necessary for enforcing these Terms; for complying with the applicable laws and regulations.&nbsp;<br />
                <br />
                <strong>(b)</strong>&nbsp;We propose to share such information within its group companies and officers and employees of such group companies for the purpose of processing personal information on its behalf. We also ensure that these recipients of such information agree to process such information based on our instructions and in compliance with this Privacy Policy and any other appropriate confidentiality and security measures.<br />
                <br />
                <strong>INFORMATION SECURITY</strong><br />
                We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data. These include internal reviews of our data collection, storage and processing practices and security measures, including appropriate encryption and physical security measures to guard against unauthorized access to systems where we store personal data.<br />
                <br />
                All information gathered on our Website &amp; Payment Gateway is securely stored within our controlled database. The database is stored on servers secured behind a firewall; access to the servers is password-protected and is strictly limited. However, as effective as our security measures are, no security system is impenetrable. We cannot guarantee the security of our database, nor can we guarantee that information you supply will not be intercepted while being transmitted to us over the Internet. And, of course, any information you include in a posting to the discussion areas is available to anyone with Internet access.&nbsp;<br />
            </p>
            <p>
                However the internet is an ever evolving medium. We may change our Privacy Policy from time to time to incorporate necessary future changes. Of course, our use of any information we gather will always be consistent with the policy under which the information was collected, regardless of what the new policy may be.
                <br />
                <strong>Grievance Redressal</strong>
            </p>
            <p>
                Redressal Mechanism: Any complaints, abuse or concerns with regards to content and or comment or breach of these terms shall be immediately informed to the designated Grievance Officer as mentioned below through email signed with the electronic signature to&nbsp;<a href="mailto:complaints@lilavatihospitla.com">complaints@lilavatihospitla.com</a>
            </p>

            <p align="center">
                <strong><u>TERMS AND CONDITIONS</u></strong>
            </p>
            <p>
                The terms &quot;We&quot; / &quot;Us&quot; / &quot;Our&quot;/&rdquo;Trust&rdquo; individually and collectively refer to <strong>LILAVATI HOSPITAL &amp; RESEARCH CENTRE </strong>&nbsp;and the terms &quot;Visitor&rdquo; &rdquo;User&rdquo; refer to the users.
            </p>

            <p>
                LILAVATI HOSPITAL AND RESEARCH CENTRE, owned and run by Lilavati Kirtilal Mehta Medical Trust, a public charitable Trust registered under Maharashtra Public Trusts Act, 1950 vide PTR No. E-6892 (Bom) Hospital is&nbsp; having its registered office at A-791, Bandra Reclamation, Bandra West, Mumbai: 400050
            </p>
            <p>
                This page states the Terms and Conditions under which you (Visitor) may visit this website and payment gateway (&ldquo;Payment Gateway&rdquo;). Please read this page carefully. If you do not accept the Terms and Conditions stated here, we would request you to exit this website. The <strong>LILAVATI HOSPITAL &amp; RESEARCH CENTRE AND ITS SUBSICIDIARIES, IF ANY,</strong> reserve their respective rights to revise these Terms and Conditions at any time by updating this posting. You should visit this page periodically to re-appraise yourself of the Terms and Conditions, because they are binding on all users of this Website and Payment Gateway.<br />
                <strong>USE OF CONTENT</strong><br />
                <br />
                All logos, brands, marks headings, labels, names, signatures, numerals, shapes or any combinations thereof, appearing in this site, except as otherwise noted, are properties either owned, or used under license, by the<strong> LILAVATI HOSPITAL &amp; RESEARCH CENTRE AND ITS SUBSICIDIARIES, IF ANY, </strong>who feature on this Website and Payment Gateway. The use of these properties or any other content on this site, except as provided in these terms and conditions or in the site content, is strictly prohibited.<br />
                <br />
                You may not sell or modify the content of this Website and Payment Gateway&nbsp; or reproduce, display, publicly perform, distribute, or otherwise use the materials in any way for any public or commercial purpose without the respective organization&rsquo;s or entity&rsquo;s written permission.<br />
                <br />
                <strong>ACCEPTABLE WEBSITE AND PAYMENT GATEWAY USE:</strong><br />
                <strong>(A) Security Rules</strong>
            </p>
            <p>
                Visitors are prohibited from violating or attempting to violate the security of the Website and Payment Gateway, including, without limitation,
            </p>
            <p>
                (1) Accessing data not intended for such user or logging into a server or account which the user is not authorized to access
            </p>
            <p>
                (2) Attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization
            </p>
            <p>
                (3) Attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting a virus or &quot;Trojan horse&quot; to the Website, overloading, &quot;flooding&quot;, &quot;mail bombing&quot; or &quot;crashing&quot;, or sending unsolicited electronic mail, including promotions and/or advertising of products or services.
            </p>
            <p>
                Violations of system or network security may result in civil or criminal liability. The <strong>LILAVATI HOSPITAL &amp; RESEARCH CENTRE AND ITS SUBSICIDIARIES, IF ANY,</strong> or its associate entities will have the right to investigate occurrences that they suspect as involving such violations and will have the right to involve, and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.
            </p>
            <p>
                <br />
                <strong>(B) General Rules</strong><br />
                Visitors may not use the Website and Payment Gateway in order to transmit, distribute, store or destroy material (a) that could constitute or encourage conduct that would be considered a criminal offence or violate any applicable law or regulation, (b) in a manner that will infringe the copyright, trademark, trade secret or other intellectual property rights of others or violate the privacy or publicity of other personal rights of others, or (c) that is libelous, defamatory, pornographic, profane, obscene, threatening, abusive or hateful.<br />
                <br />
                <strong>INDEMNITY</strong><br />
                <br />
                The User unilaterally agree to indemnify and hold harmless, without objection, the Lilavati Hospital and Research Centre, its officers, directors, employees and agents from and against any claims, actions and/or demands and/or liabilities and/or losses and/or damages whatsoever arising from or resulting from their use of the Website and Payment Gateway or their breach of the terms.
            </p>
            <p>
                <strong>LIABILITY&nbsp;&nbsp;&nbsp;&nbsp; </strong>
                <br />
                <br />
                User agrees that neither&nbsp;&nbsp;Lilavati Hospital and Research Centre nor its Trustees and other staff shall be liable for any direct or/and indirect or/and incidental or/and special or/and consequential or/and exemplary damages, resulting from the use or/and the inability to use the service or/and for cost of procurement of substitute goods or/and services or resulting from any goods or/and data or/and information or/and services purchased or/and obtained or/and messages received or/and transactions entered into through or/and from the service or/and resulting from unauthorized access to or/and alteration of user&#39;s transmissions or/and data or/and arising from any other matter relating to the service, including but not limited to, damages for loss of profits or/and use or/and data or other intangible, even if&nbsp;Lilavati Hospital and Research Centre&nbsp;has been advised of the possibility of such damages.
            </p>
            <p>
                User further agrees that&nbsp;Lilavati Hospital and Research Centre shall not be liable for any damages arising from interruption, suspension or termination of service, including but not limited to direct or/and indirect or/and incidental or/and special consequential or/and exemplary damages, whether such interruption or/and suspension or/and termination was justified or not, negligent or intentional, inadvertent or advertent.
            </p>
            <p>
                User agrees that&nbsp;&nbsp;Lilavati Hospital and Research Centre shall not be responsible or liable to user, or anyone, for the statements or conduct of any third party of the service. In sum, in no event shall <strong>LILAVATI HOSPITAL &amp; RESEARCH CENTRE&rsquo;s AND ITS SUBSICIDIARIES, IF ANY,</strong> total liability to the User for all damages or/and losses or/and causes of action exceed the amount paid by the User to&nbsp; Lilavati Hospital and Research Centre, if any, that is related to the cause of action.
            </p>
            <p>
                <strong>DISCLAIMER OF CONSEQUENTIAL DAMAGES</strong><br />
                <br />
                In no event shall&nbsp; Lilavati Hospital and Research Centre or any parties, organizations or entities associated with the brand name us or otherwise, mentioned at this Website and Payment Gateway be liable for any damages whatsoever (including, without limitations, incidental and consequential damages, lost profits, or damage to computer hardware or loss of data information or business interruption) resulting from the use or inability to use the Website and Payment Gateway and the Website and Payment Gateway material, whether based on warranty, contract, tort, or any other legal theory, and whether or not, such organization or entities were advised of the possibility of such damages.
            </p>

            <div class="clear"></div>
        </div>

        <div class="clear"></div>
    </div>
</asp:Content>

