﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="professionals.ascx.cs"
    Inherits="Control_professionals" %>
<div class="rel_menu fade_anim">
    <ul>
        <%--<li id="iddoctors" runat="server"><a href="Doctors">Doctors</a></li>--%>
          <li id="idcareers" runat="server"><a href="Careers">Careers</a></li>
             <li id="idcme" runat="server"><a href="CME">CME</a></li>
         <li id="iddnb" runat="server"><a href="DNB">DNB</a></li>
         <li id="idlhmt" runat="server"><a href="LHMT">LHMT</a></li>
         <li id="idMUHS" runat="server"><a href="muhs_Fellowship"> MUHS Fellowship</a></li>
        <li id="idnureses" runat="server"><a href="Nurses">Nurses</a></li>
           <li id="idresearch" runat="server"><a href="Research">Research</a></li>
    </ul>
</div>
<div class="ad_box">
    <a href="Health-Checkup?tab_list=0">
        <img src="images/ad_img.jpg">
    </a>
</div>
