﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="admin.master.cs" Inherits="admin_admin" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/favicon.png">
    <title>Lilavati Hospital & Research Center</title>
    <link href="styles/reset.css" rel="stylesheet" type="text/css" />
    <link href="styles/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="styles/ddsmoothmenu.css" />
    <link rel="stylesheet" type="text/css" href="styles/ddsmoothmenu-v.css" />
    <script type="text/javascript" src="scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="scripts/ddsmoothmenu.js">
        /***********************************************
        * Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
        * This notice MUST stay intact for legal use
        * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
        ***********************************************/
    </script>
    <script type="text/javascript">
        ddsmoothmenu.init({
            mainmenuid: "smoothmenu1",
            orientation: 'h',
            classname: 'ddsmoothmenu',
            contentsource: "markup"
        })
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
        </asp:ToolkitScriptManager>
        <div style="background: #FFFFFF;">
            <div class="topWrapper">
                <div class="topDiv" style="background: #fff;">
                    <table width="100%" style="height: 60px;">
                        <tr>
                            <td>
                                <a href="index.aspx" title="Lilavati Hospital">
                                    <img src="../images/logo.gif" alt="Logo" style="margin-left: 10px;" />
                                </a>
                            </td>
                            <td align="right">
                                <a href="logout.aspx" title="logout" class="logout">Logout</a>
                            </td>
                        </tr>
                    </table>
                    <div id="smoothmenu1" class="ddsmoothmenu">
                        <!-- MENU START -->
                        <ul id="divsuperadmin" runat="server">
                            <li><a href="#">CMS</a>
                                <ul>
                                    <li><a href="#">About Us</a>
                                        <ul>
                                            <li><a href="cms.aspx?id=1">Introduction</a></li>
                                            <li><a href="cms.aspx?id=2">Our Founders</a></li>
                                            <li><a href="cms.aspx?id=3">Board Of Trustees</a></li>
                                            <li><a href="cms.aspx?id=4">Management</a></li>
                                            <li><a href="cms.aspx?id=5">Mission Motto</a></li>
                                            <li><a href="awards_accreditations.aspx">Awards</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=14">Awards Accreditation</a> </li>
                                            <li><a href="media_press_year.aspx">Add Media Year</a> </li>
                                            <li><a href="media_press.aspx">Media/Press Release</a> </li>
                                            <li><a href="cms.aspx?id=6">Statutory Compilance</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Service</a>
                                        <ul>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=1">Out Patient</a></li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=2">Critical Care</a></li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=3">Emergency/ Trauma</a></li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=4">Day Care</a></li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=5">Dialysis Centre</a></li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=6">Physiotherapy</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=7">Diagnostics</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=60">Interventional Neuroradiology</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=51">Interventional Radiology</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=8">Blood Bank</a> </li>
                                            <%--<li><a href="cmsInnerPageMaster.aspx?Id=52">Nuclear Medicine</a> </li>--%>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=9">Pharmacy & Chemist</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=10">Ambulance</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=11">Health Check Up</a>
                                                <ul>
                                                    <li><a href="health_checkup.aspx">Health Checkup Packages</a> </li>
                                                </ul>
                                            </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=12">Visa Investigation</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=13">Social Initiative</a> </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Patients</a>
                                        <ul>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=55">Accommodation</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=15">Inpatients</a> </li>
                                            <%--<li><a href="empanelled_companies.aspx">Empanelled Companies</a> </li>--%>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=44">Empanelled Corporates</a>
                                                <ul>
                                                    <li>
                                                        <a href="empanelled_details.aspx?Id=1">List of Empanalled Corporates</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=45">Empanelled Insurance Co. & TPA's</a>
                                                <ul>
                                                    <li><a href="empanelled_details.aspx?Id=2">List of Insurance companies and TPA's</a>  </li>
                                                </ul>
                                            </li>
                                            <li><a href="cms.aspx?Id=14">Tariff</a> </li>
                                            <%--<li><a href="cmsInnerPageMaster.aspx?Id=16">International Patients</a> </li>--%>
                                            <li><a href="cms.aspx?id=17">International Patients</a> </li>
                                            <li><a href="patients_education.aspx">Patients Education Brochure</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=56">Patients Rights & Responsibilities</a> </li>
                                            <li><a href="cms.aspx?id=20">Floor Directory</a> </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Visitors</a>
                                        <ul>
                                            <li><a href="cms.aspx?Id=7">Visiting Hours</a> </li>
                                            <li><a href="cms.aspx?Id=8">Convenience & Facilities</a> </li>
                                            <li><a href="cms.aspx?Id=9">DOs & Don'ts</a> </li>
                                            <li><a href="cms.aspx?Id=10">Visitors Policy</a> </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Professionals</a>
                                        <ul>
                                            <%--<li><a href="cmsInnerPageMaster.aspx?Id=46">Doctors</a></li>--%>
                                            <li><a href="cms.aspx?Id=18">Nurses</a> </li>
                                            <li><a href="cms.aspx?Id=11">DNB</a> </li>
                                            <li><a href="cms.aspx?Id=12">Researchs</a> </li>
                                            <li><a href="lhmt.aspx">LHMT</a> </li>
                                            <li><a href="cms.aspx?Id=13">CME</a>
                                                <ul>
                                                    <li><a href="CME.aspx">Upcoming CME</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="cms.aspx?Id=22">MUHS Fellowship</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Others</a>
                                        <ul>
                                            <li><a href="banner.aspx">Home Banner</a></li>
                                            <li><a href="Inner_Page_Banner.aspx">Inner Banner</a></li>
                                            <li><a href="Updates.aspx">Updates</a></li>
                                            <li><a href="photo_gallery.aspx">Photo Gallery</a></li>
                                            <li><a href="contact_us.aspx">Contact US</a></li>
                                            <li><a href="cms.aspx?Id=15">Donate Blood</a>
                                                <ul>
                                                    <li><a href="cmsInnerPageMaster.aspx?Id=17">Donate Blood Tab</a> </li>
                                                </ul>
                                            </li>
                                            <li><a href="cms.aspx?Id=16">Pledge Your Eyes</a></li>
                                            <li><a href="cms.aspx?Id=21">Privacy Policy</a></li>
                                            <li><a href="AppContactUs.aspx">App Contact-Us</a></li>
                                            <li><a href="cms.aspx?Id=23">Video Consultation</a></li>
                                             <li><a href="cms.aspx?Id=24">Resumption of All the Medical Services at Lilavati Hospital</a></li>
                                        <li><a href="cms.aspx?Id=25">COVID – 19 Video Rehabilitation Services</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Centres of Excellence</a>
                                        <ul>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=18">Anesthesiology</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=19">Audiology Speech Therapy</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=20">Bariatric Surgery</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=47">Cardiology & Cardio Vascular Thoracic Surgery </a></li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=21">Chest Medicine</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=57">Corneal Transplant</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=22">Colorectal Surgery</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=23">Dental</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=24">Dermo Cosmetology</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=54">Diabetology & Endocrinology</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=25">Ent</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=48">Gastroenterology & Gastrointestinal Surgery</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=26">General Surgery</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=27">Gynaecology Obstetrics</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=28">Haematology</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=53">Hair Transplant</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=29">Headache Migraine Clinic</a> </li>
                                            <%--<li><a href="cms.aspx?Id=19">Hip Replacement</a> </li>--%>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=30">Infectious Diseases</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=31">Internal Medicine</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=58">Lactation</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=59">Liver Transplate</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=32">Minimally Invasive Surgery</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=33">Nephrology</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=34">Neurology Neuro Surgery</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=35">Oncology</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=36">Ophthalmology</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=37">Orthopaedics</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=49">Pediatrics & Paediatric Surgery</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=50">Pain Management</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=38">Plastic Surgery</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=39">Psychiatry Psychology Neuropsychology</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=40">Rheumatology</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=41">Sleep Medicine</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=42">Urology</a> </li>
                                            <li><a href="cmsInnerPageMaster.aspx?Id=43">Vascular Endovascular Surgery</a> </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Online Appointments</a>
                                <ul>
                                    <li><a href="Registration.aspx">Registered User</a> </li>
                                    <li><a href="Appointment.aspx">Online Appointments</a> </li>
                                    <li><a href="FailedAppointment.aspx">Failed Appointments</a> </li>
                                    <li><a href="PushNotification.aspx">Health Tips Notification</a> </li>
                                </ul>
                            </li>
                            <li><a href="#">Appointments</a>
                                <ul>
                                    <li><a href="Appointment_Page.aspx">Doctor Appointments</a> </li>
                                    <li><a href="HealthCheckupAppointment.aspx">Health Check-Up Appointments</a> </li>
                                </ul>
                            </li>
                            <%--<li><a href="Registration.aspx">Registration</a></li>
                            <li><a href="Appointment.aspx">Appointment</a> </li>--%>
                            <li><a href="#">Speciality</a>
                                <ul>
                                    <li><a href="AddSpeciality.aspx">Add Speciality</a> </li>
                                    <li><a href="SpecialityList.aspx">Speciality List</a> </li>
                                </ul>
                            </li>
                            <li><a href="#">Doctors</a>
                                <ul>
                                    <li><a href="AddDoctor.aspx">Add Doctor</a> </li>
                                    <li><a href="DoctorsList.aspx">Doctor List</a> </li>
                                    <li><a href="DrNotAvailable.aspx">Doctor Not Available Date</a> </li>
                                </ul>
                            </li>
                            <li><a href="testimonials.aspx">Testimonial</a></li>
                            <li><a href="#">Feedback</a>
                                <ul>
                                    <li><a href="feedback_InPatient.aspx">In Patient</a> </li>
                                    <li><a href="feedback_OutPatient.aspx">Out Patient</a> </li>
                                    <li><a href="feedback_HealthCheckup.aspx">Health Checkup</a> </li>
                                </ul>
                            </li>
                            <li><a href="#">Career</a>
                                <ul>
                                    <li><a href="Job_Area.aspx">Job Area</a> </li>
                                    <li><a href="Job_Posting.aspx">Job Posting</a> </li>
                                    <li><a href="Job-Applied.aspx">Job Applied</a> </li>
                                </ul>
                            </li>
                            <li><a href="#">Enquiry</a>
                                <ul>
                                    <li><a href="Visa_Invitation.aspx">Visa Invitation</a></li>
                                    <li><a href="lhmtSubscribe.aspx">LHMT Subscribe</a></li>
                                    <li><a href="Write_to_us.aspx">Write To Us</a></li>
                                    <li><a href="request_an_estimate.aspx">Request An Estimate</a></li>
                                    <li><a href="pledgeyoureyes.aspx">Pledge Your Eyes Appeal</a></li>
                                </ul>
                            </li>
                             <li><a href="#">e-Tender</a>
                                <ul>
                                    <li><a href="eTender.aspx">Add Tender</a></li>
                                    <li><a href="eTender_list.aspx">Tender list</a></li>
                                    <li><a href="AppliedForTender.aspx">Applied for Tender</a></li>
                                </ul>
                            </li>

                            <li><a href="Change_Password.aspx">Change Password</a></li>
                        </ul>
                        <ul id="divappointmentadmin" runat="server">
                            <li><a href="AppointmentHistory.aspx">AppointmentHistory</a> </li>
                            <%--<li><a href="Change_Password.aspx">Change Password</a></li>--%>
                        </ul>
                        <!-- MENU END -->
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentWrapper">
                <div class="contentDiv">
                    <asp:ContentPlaceHolder ID="mainContentPlaceHolder" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
