﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.master" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="Admin_index" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContentPlaceHolder" runat="Server">
    <div class="page-header" style="font-size: 24px; font-weight: normal;">Welcome To Lilavati Administrator Area</div>
</asp:Content>

