.ddsmoothmenu{
font: normal 12px  "Lucida Sans";
background: #; /*background of menu bar (default state)*/
width: 100%; color:#fff;
float:left;
text-align:left;
height:43px;
margin:0px;
padding:0px;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
float:left;
text-transform:uppercase;
line-height:43px;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
z-index:99999999 !important;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
	display: block;
	color:#000;
	padding: 0px 10px 0 11px;
	text-decoration: none;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;

}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color:#fff;

}

.ddsmoothmenu ul li a.selected { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:  !important; 
color: #fff;
background-color:#5b0525;


}

.ddsmoothmenu ul li a:hover{
background:!important; /*background of menu items during onmouseover (hover state)*/
color: #fff;
background-color:#5b0525;


}
	
/* sub menus */
.ddsmoothmenu ul li ul{
position: absolute;
left: -3000px;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
background: #78283e;
text-transform: none;
font-size:11px;
margin:0px 0 0 0px;


}


/*Sub level menu list items (alters style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}


/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
font: normal 11px  "Lucida Sans";
width:auto; /*width of sub menus*/
padding: 5px 15px 5px 10px;
/*margin-right: 2px;
margin-left: 4px;*/
border-top-width: 0;
border-bottom: 1px solid #8a344c;
border-right: 0px solid #778;
background-image:none;

}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ 
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background-color: #; /* generally should be just a little lighter than the box-shadow color for CSS3 capable browsers */
}

