.item{
	width:238px;
	height:86px;
	clear:both;
	margin:0px auto;
}
.thumb_wrapper{
	width:238px;
	height:86px;
	position: absolute;
	margin:0px auto;
}
.thumb_wrapper a.prev,
.thumb_wrapper a.next{
	width:18px;
	height:21px;
	position:absolute;
	top:50%;
	margin-top:-15px;
	outline:none;
	cursor:pointer;
}
.thumb_wrapper a.prev{
	left:0px;
	background:transparent url(../images/fancy_nav_left.png) no-repeat top left;
	cursor:pointer;
}
.thumb_wrapper a.next{
	right:-2px;
	background:transparent url(../images/fancy_nav_right.png) no-repeat top right;
	cursor:pointer;
}
.thumb_wrapper span{
	display:block;
	text-align:center;
	font-size:11px;
	font-style:italic;
	margin-top:3px;
}
.thumb{
	margin-left:0px;
	width:238px;
	height:86px;
	float:left;
	overflow:hidden;
	border:1px solid #fff;
}
.thumb ul{
	list-style:none;
	width: auto;
	height:107px;
}
.thumb ul li{
	float:left;
}
.thumb ul li a img{
	cursor: pointer;
	width:238px;
	height:86px;
}
